<div class="card hoverable" [ngClass]="{ 'bg-gray': mini && !article.published }">
  <div class="card-image" *ngIf="imgSrc !== null && !mini">
    <img [src]="imgSrc" width="500" class="img-responsive" />
  </div>
  <div class="card-header" [ngClass]="{ 'p-2': mini }">
    <div class="columns">
      <div class="column">
        <div class="card-title" [ngClass]="{ h5: !mini, h6: mini }">
          {{ article.name }}
          <span class="label label-secondary" *ngIf="!article.published && !mini">Hidden</span>
        </div>
      </div>

      <!-- Concpt Icons -->
      <div class="column col-auto d-flex align-items-center" *ngFor="let ics of iconSources">
        <img [src]="ics" width="20" />
      </div>

      <!-- Quest Flag -->
      <div class="column col-auto" *ngIf="article.hasQuests">
        <i class="icon icon-flag"></i>
      </div>

      <!-- Location Icon -->
      <div class="column col-auto" *ngIf="article.mapId !== null">
        <i class="icon icon-location"></i>
      </div>
    </div>
    <div class="card-subtitle text-gray" *ngIf="!mini">{{ subtitleText }}</div>
  </div>
</div>
