<div cdkDropList (cdkDropListDropped)="drop($event)">
  <div *ngFor="let i of controls; let idx = index" [formGroup]="i" cdkDrag>
    <div class="columns">
      <div class="drag-placeholder" *cdkDragPlaceholder></div>
      <div class="column col-auto c-move" cdkDragHandle>
        <i class="icon icon-resize-vert"></i>
      </div>
      <!-- Name -->
      <div class="column">
        <div class="form-group">
          <label for="cm-name-{{ idx }}" class="form-label">Name</label>
          <input type="text" name="name" id="cm-name-{{ idx }}" formControlName="name" class="form-input" />
        </div>
      </div>

      <!-- Value -->
      <div class="column">
        <div class="form-group">
          <label for="cm-value-{{ idx }}" class="form-label">Value</label>
          <input class="form-input" type="number" name="name" id="cm-value-{{ idx }}" formControlName="value" step="0.01" />
        </div>
      </div>

      <div class="column">
        <div class="form-group">
          <label class="form-label">Conversion</label>
          <label class="form-checkbox">
            <input type="checkbox" formControlName="useInConversions" />
            <i class="form-icon"></i> Use in conversions
          </label>
        </div>
      </div>

      <div class="column col-auto">
        <label class="form-label">Remove</label>
        <button class="btn btn-sm btn-error" (click)="removeCurrencyLevel(idx)">
          <i class="icon icon-cross"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column col-auto">
      <button class="btn btn-sm mt-2" (click)="addCurrencyLevel()">
        <i class="icon icon-plus"></i><span class="hide-sm"> Add Level</span>
      </button>
    </div>
    <div class="column col-auto">
      <label class="form-checkbox mt-2">
        <input type="checkbox" [formControl]="trackCoins" />
        <i class="form-icon"></i> Track individual coins
      </label>
    </div>
  </div>
</div>
