<div class="card p-1 pl-2 mt-1">
  <div class="columns col-gapless">
    <!-- Expand Control -->
    <div class="column col-auto mr-2">
      <button class="btn btn-sm" (click)="expanded = !expanded">
        <i class="icon icon-arrow-down" *ngIf="!expanded"></i>
        <i class="icon icon-arrow-up" *ngIf="expanded"></i>
      </button>
    </div>

    <div class="column col-auto mr-2">
      <!-- Actual Image -->
      <img
        class="s-rounded"
        width="30"
        src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{ articleConcept.concept.imageId }}"
        *ngIf="articleConcept.concept.imageId"
        style="margin-bottom: -0.075rem"
      />

      <!-- Placeholder Image -->
      <img
        class="s-rounded"
        width="30"
        src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/winged-sword"
        *ngIf="!articleConcept.concept.imageId"
        style="margin-bottom: -0.075rem"
      />
    </div>

    <!-- Name Column -->
    <div class="column">
      {{ articleConcept.concept.name }}
      <div class="d-inline-block ml-2" *ngIf="saving">
        <div class="loading"></div>
      </div>
    </div>

    <!-- Controls Column -->
    <div class="column col-auto">
      <button class="btn btn-sm btn-link" (click)="doRemove()" *ngIf="editable">
        <i class="icon icon-cross"></i>
      </button>
      <button class="btn btn-sm btn-link" (click)="edit()" *ngIf="editable">
        <i class="icon icon-edit"></i>
      </button>
      <button class="btn btn-sm btn-link ml-1" (click)="viewConcept()">
        <i class="icon icon-arrow-right"></i>
      </button>
    </div>

    <!-- Data Input Column -->
    <div class="column col-12" *ngIf="expanded && editable">
      <!-- Cost -->
      <dd-dynamic-field [config]="currencyFieldConfig" [control]="currencyCost"></dd-dynamic-field>

      <!-- Quantity -->
      <div class="mt-2"></div>
      <dd-dynamic-field [config]="quantityFieldConfig" [control]="quantity"></dd-dynamic-field>

      <!-- Is Purchasable -->
      <dd-dynamic-field [config]="isPurchasableFieldConfig" [control]="isPurchasable"></dd-dynamic-field>
    </div>

    <!-- Expanded Content Column -->
    <div class="column col-12" *ngIf="expanded">
      <dd-quill [value]="articleConcept.concept.content" readOnly="true"></dd-quill>
    </div>

    <!-- Purchase Column -->
    <div class="column col-auto col-ml-auto mt-2" *ngIf="articleConcept.isPurchasable && expanded">
      <span class="mr-2" [ddCurrency]="articleConcept.currencyCost"></span>
      <button class="btn mr-2" *ngFor="let e of entities" style="line-height: 0" [disabled]="!canAfford(e)" (click)="buy(e)">
        <figure class="avatar avatar-sm">
          <img src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{ e.imageId }}" alt="" />
        </figure>
        Buy for {{ e.name }}
      </button>
    </div>
  </div>
</div>
