<div class="card p-1 mt-1">
  <div class="columns col-gapless">
    <!-- Expand Control -->
    <div class="column col-auto mr-2">
      <button class="btn btn-sm" (click)="expanded = !expanded">
        <i class="icon icon-arrow-down" *ngIf="!expanded"></i>
        <i class="icon icon-arrow-up" *ngIf="expanded"></i>
      </button>
    </div>

    <div class="column col-auto mr-2" [ngClass]="{ faded: articleConcept.quantity === 0 }">
      <!-- Actual Image -->
      <img
        class="s-rounded"
        width="28"
        src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{ articleConcept.concept.imageId }}"
        *ngIf="articleConcept.concept.imageId"
        style="margin-bottom: -0.26rem; margin-top: 0.04rem"
      />

      <!-- Placeholder Image -->
      <img
        class="s-rounded"
        width="28"
        src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/winged-sword"
        *ngIf="!articleConcept.concept.imageId"
        style="margin-bottom: -0.26rem; margin-top: 0.04rem"
      />
    </div>

    <!-- Name Column -->
    <div class="column" [ngClass]="{ faded: articleConcept.quantity === 0 }">
      {{ articleConcept.concept.name }}
      <sup class="bold" *ngIf="articleConcept.quantity !== null">x{{ articleConcept.quantity }}</sup>
      <div class="d-inline-block ml-2" *ngIf="saving">
        <div class="loading"></div>
      </div>
    </div>

    <div class="column col-auto mr-2 d-flex align-items-center" *ngIf="articleConcept.isPurchasable" style="line-height: 0">
      <span [ddCurrency]="articleConcept.currencyCost"></span>
    </div>

    <!-- Controls Column -->
    <div class="column col-auto">
      <button class="btn btn-sm btn-link" (click)="doRemove()" *ngIf="editable">
        <i class="icon icon-cross"></i>
      </button>
      <button class="btn btn-sm btn-link" (click)="edit()" *ngIf="editable">
        <i class="icon icon-edit"></i>
      </button>
      <button class="btn btn-sm btn-link ml-1" (click)="viewConcept()">
        <i class="icon icon-arrow-right"></i>
      </button>
    </div>

    <!-- Data Input Column -->
    <div class="column col-12" *ngIf="expanded && editable">
      <!-- Cost -->
      <dd-dynamic-field [config]="currencyFieldConfig" [control]="currencyCost"></dd-dynamic-field>

      <!-- Quantity -->
      <div class="mt-2"></div>
      <dd-dynamic-field [config]="quantityFieldConfig" [control]="quantity"></dd-dynamic-field>

      <div class="columns">
        <div class="column">
          <!-- Is Purchasable -->
          <dd-dynamic-field [config]="isPurchasableFieldConfig" [control]="isPurchasable"></dd-dynamic-field>
        </div>
        <div class="column">
          <!-- Track on entity -->
          <dd-dynamic-field [config]="trackOnEntityFieldConfig" [control]="trackOnEntity"></dd-dynamic-field>
        </div>
      </div>
    </div>

    <!-- Expanded Content Column -->
    <div class="column col-12" *ngIf="expanded">
      <dd-quill [value]="articleConcept.concept.content" readOnly="true" *ngIf="articleConcept.concept.content"></dd-quill>
      <div class="text-center text-italic" *ngIf="!articleConcept.concept.content">
        There is nothing here...
      </div>
    </div>

    <!-- Purchase Column -->
    <div class="column col-auto col-ml-auto mt-2" *ngIf="articleConcept.isPurchasable && expanded">
      <div *ngFor="let e of entities">
        <button class="btn btn-sm ml-2" style="line-height: 1" [disabled]="!canAfford(e) || articleConcept.quantity === 0" (click)="buy(e)">
          <figure class="avatar avatar-xs">
            <img src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{ e.imageId }}" alt="" />
          </figure>
          Buy for {{ e.name }}
        </button>
        <!-- <p class="mb-0 form-input-hint" *ngIf="!canAfford(e)">{{ e.name }} cannot afford 1x {{ articleConcept.concept.name }}</p> -->
        <!-- <p class="mb-0 form-input-hint" *ngIf="articleConcept.quantity === 0">{{ articleConcept.concept.name }} is out of stock</p> -->
      </div>
    </div>
  </div>
</div>
