.bar-animated {
  transition: all 400ms ease-in-out !important;
}

:host {
  height: 100%;
}

.bar-item.d-flex {
  display: flex;
}

.bar-item {
  background-image: url('/assets/hp-pattern.png');
  background-repeat: repeat;
  background-blend-mode: multiply;
}
