<!-- Add Spell Selection Modal -->
<dd-modal #spellselect>
  <div modal-header>
    Click to add
  </div>

  <div modal-body>
    <dd-spell-select *ngIf="spellselect.isOpen" (selected)="addSpell($event)">
    </dd-spell-select>
  </div>
</dd-modal>

<dd-modal #spelledit>
  <h4 class="mb-0" *ngIf="editingSpell" modal-header>
    {{ editingSpell.spell.name }}
  </h4>
  <div modal-body>
    <!-- Edit Form -->
    <div *ngIf="editable && editingSpell" [formGroup]="editFormGroup">
      <!-- Notes -->
      <div class="form-group">
        <dd-quill
          simple="true"
          formControlName="content"
          placeholder="Notes"
        ></dd-quill>
      </div>
    </div>

    <!-- View Area -->
    <div *ngIf="editingSpell && !editable">
      <dd-quill readOnly="true" [value]="editingSpell.content"></dd-quill>
    </div>
  </div>
  <div modal-footer *ngIf="editable">
    <button class="btn btn-error mr-2" (click)="remove(editingSpell)">
      Remove
    </button>
    <button class="btn mr-2" (click)="spelledit.close(null)">Cancel</button>
    <button
      class="btn btn-primary"
      (click)="save()"
      [ngClass]="{ loading: saving }"
    >
      Save
    </button>
  </div>
</dd-modal>

<!-- Title And Controls -->
<div class="columns">
  <div class="column">
    <h5>Spells</h5>
  </div>
  <div class="column col-auto" *ngIf="editable">
    <button class="btn btn-sm" (click)="spellselect.open()">
      <i class="icon icon-plus"></i> Add Spell
    </button>
  </div>
</div>

<div class="loading" *ngIf="loading"></div>

<!-- Spells -->
<div>
  <!-- Spell List -->
  <div class="card px-1 pt-1 mb-1" *ngFor="let s of spells">
    <div class="columns col-gapless">
      <!-- Image Column -->
      <div
        class="column col-auto mr-2 c-hand"
        (click)="viewOrEditEntitySpell(s)"
      >
        <!-- Custom Image -->
        <img
          class="s-rounded"
          width="32"
          src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{
            s.spell.imageId
          }}"
          *ngIf="s.spell.imageId"
          style="margin-bottom: -0.075rem"
        />

        <!-- Fallback Image -->
        <img
          class="s-rounded"
          width="32"
          src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/spell-default"
          *ngIf="!s.spell.imageId"
          style="margin-bottom: -0.075rem"
        />
      </div>

      <!-- Info Column -->
      <div class="column pt-1 c-hand" (click)="viewOrEditEntitySpell(s)">
        <span>{{ s.spell.name }}</span>
      </div>

      <!-- Controls Column -->
      <div class="column col-auto">
        <!-- View Button -->
        <button
          class="btn btn-sm"
          [routerLink]="['/campaigns', campaign.id, 'spells', s.spell.id]"
        >
          <i class="icon icon-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Empty State -->
  <div class="empty p-2" *ngIf="spells && spells.length === 0">
    <p class="empty-subtitle">No spells here!</p>
  </div>
</div>
