<!-- Major Sized Attributes -->
<div class="columns mt-2" *ngIf="mode === 'major'">
  <div
    class="column col-2 col-md-3 col-sm-5 col-mx-auto text-center"
    [ngClass]="{ 'c-hand': editable }"
    *ngFor="let f of fields; trackBy: trackField"
    (click)="editField(f)"
  >
    <div class="h5 no-select">
      <figure class="avatar avatar" *ngIf="f.config && f.config.imageId">
        <img src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{ f.config.imageId }}" />
      </figure>
      {{ f.config.name }}
    </div>
    <div class="h4 text-bold">{{ f.field.value }}</div>
  </div>
</div>

<!-- Normal Size Attributes -->
<div class="columns mt-2" *ngIf="mode === 'normal'">
  <div
    class="column col-2 col-md-3 col-sm-4 col-mx-auto text-center"
    [ngClass]="{ 'c-hand': editable }"
    *ngFor="let f of fields; trackBy: trackField"
    (click)="editField(f)"
  >
    <div class="h6 no-select">
      <div *ngIf="f.config && f.config.imageId">
        <figure class="avatar avatar-sm">
          <img src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{ f.config.imageId }}" />
        </figure>
      </div>
      {{ f.config.name }}
    </div>
    <div class="h5">{{ f.field.value }}</div>
  </div>
</div>
