<div class="container grid-xl">
  <!-- Members -->
  <div class="columns">
    <div class="column">
      <h3 class="mb-0">Members</h3>
    </div>
    <div class="column col-auto"></div>
  </div>

  <!-- Members Table -->
  <table class="table">
    <thead>
      <th>User</th>
      <th>Added On</th>
      <th>Remove</th>
    </thead>
    <tbody>
      <tr *ngFor="let m of members" [ngClass]="{ faded: m.userId === campaign.userId }">
        <td><dd-user-view-nano [user]="m.user"></dd-user-view-nano></td>
        <td>A Date</td>
        <td>
          <span *ngIf="m.userId !== campaign.userId" class="fake-link" (click)="remove(m)">Remove</span>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Invites -->
  <div class="big-space">
    <dd-invite-manager></dd-invite-manager>
  </div>
</div>
