<div class="container grid-xl">
  <div class="loading loading-lg" *ngIf="loading"></div>

  <dd-http-errors [error]="loadError"></dd-http-errors>

  <!-- Title Controls -->
  <div class="columns" *ngIf="concept">
    <div class="column col-auto">
      <img
        class="s-rounded"
        width="64"
        src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{ concept.imageId }}"
        *ngIf="concept.imageId"
        alt="Item Picture"
      />

      <!-- Fallback Image -->
      <img
        class="s-rounded"
        width="64"
        src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/winged-sword"
        *ngIf="!concept.imageId"
        alt="Item Fallback Picture"
      />
    </div>
    <div class="column">
      <h2 class="mb-0">{{ concept.name }}</h2>
    </div>
    <div class="column col-auto">
      <dd-user-view-nano [user]="user" *ngIf="user"></dd-user-view-nano>
    </div>
    <div class="column col-auto">
      <!-- History Button -->
      <button class="btn btn-sm mr-1" (click)="history()">
        <i class="icon icon-time"></i>
        <span class="hide-sm"> History</span>
      </button>

      <!-- Edit Button -->
      <button class="btn btn-sm" (click)="edit()" *ngIf="editable">
        <i class="icon icon-edit"></i> <span class="hide-sm"> Edit</span>
      </button>
    </div>
  </div>

  <!-- Data View -->
  <div class="columns mt-2" *ngIf="concept">
    <div class="column col-4 hide-md" *ngIf="concept.imageId">
      <img
        class="img-responsive s-rounded"
        src="https://res.cloudinary.com/dqhk8k6iv/image/upload/w_500,q_auto:good,f_auto/{{ concept.imageId }}"
        [alt]="'picture of' + concept.name"
      />
    </div>
    <div
      class="column col-md-12"
      [ngClass]="{
        'col-8': concept.imageId !== null,
        'col-12': concept.imageId === null
      }"
    >
      <!-- Description -->
      <dd-quill [value]="concept.content" readOnly="true" *ngIf="concept.content"></dd-quill>
      <p *ngIf="!concept.content" class="text-italic text-center">
        There is nothing here...
      </p>

      <!-- Formatted Text Fields -->
      <div class="mt-2" *ngFor="let ftf of formattedTextFields">
        <h5 class="mb-1">{{ ftf.name }}</h5>
        <dd-quill [value]="ftf.value" readOnly="true"></dd-quill>
      </div>

      <!-- Tags -->
      <div class="big-space" *ngIf="concept.tags">
        <div class="label label-rounded mr-1 mb-1" *ngFor="let t of concept.tags">
          {{ t }}
        </div>
      </div>

      <!-- Field Table -->
      <table class="table" *ngIf="tableFields.length > 0">
        <thead>
          <th>Field</th>
          <th>Value</th>
        </thead>
        <tbody>
          <tr *ngFor="let fld of tableFields; trackBy: trackField">
            <td>{{ fld.field.name }}</td>
            <td [ngSwitch]="fld.config.type">
              <!-- Currency Display -->
              <span *ngSwitchCase="6" [ddCurrency]="fld.field.value"></span>
              <span *ngSwitchDefault>
                {{ fld.field.value }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Lower full size image -->
    <div class="column col-md-8 col-xs-11 col-mx-auto show-md mt-2" *ngIf="concept.imageId">
      <img
        class="img-responsive s-rounded"
        src="https://res.cloudinary.com/dqhk8k6iv/image/upload/w_500,q_auto:good,f_auto/{{ concept.imageId }}"
        [alt]="'picture of' + concept.name"
      />
    </div>
  </div>
</div>
