<div [formGroup]="formGroup">
  <button class="btn" (click)="addAttribute()">Add Attribute</button>
  <div
    formArrayName="attributes"
    *ngFor="let item of attributeControls; let i = index"
  >
    <div class="columns" [formGroupName]="i">
      <div class="column">
        <div
          class="form-group"
          [ngClass]="{ 'has-error': getNameErrors(i) !== null }"
        >
          <label class="form-label">Name</label>
          <input
            class="form-input"
            formControlName="name"
            type="text"
            placeholder="Name"
          />
          <p
            class="form-input-hint"
            *ngIf="getNameErrors(i) !== null && getNameErrors(i).required"
          >
            The attribute needs a name
          </p>
          <p
            class="form-input-hint"
            *ngIf="getNameErrors(i) !== null && getNameErrors(i).minlength"
          >
            The name cannot be shorter than 3 characters
          </p>
          <p
            class="form-input-hint"
            *ngIf="getNameErrors(i) !== null && getNameErrors(i).maxlength"
          >
            The name cannot be longer than 50 characters
          </p>
        </div>
      </div>
      <div class="column">
        <div
          class="form-group"
          [ngClass]="{
            'has-error': getDataErrors(i) !== null
          }"
        >
          <label class="form-label">Value</label>
          <input
            class="form-input"
            formControlName="data"
            type="text"
            placeholder="Value"
            *ngIf="formGroup.value.attributes[i].type === '0'"
          />
          <input
            class="form-input"
            formControlName="data"
            type="number"
            placeholder="Value"
            *ngIf="formGroup.value.attributes[i].type === '1'"
          />
          <p
            class="form-input-hint"
            *ngIf="getDataErrors(i) !== null && getDataErrors(i).required"
          >
            The attribute needs a value
          </p>
          <p
            class="form-input-hint"
            *ngIf="getDataErrors(i) !== null && getDataErrors(i).maxlength"
          >
            The value cannot be longer than 255 characters
          </p>
        </div>
      </div>
      <div class="column">
        <div class="form-group">
          <label class="form-label">Type</label>
          <select class="form-select" formControlName="type">
            <option value="0">Word</option>
            <option value="1">Number</option>
          </select>
        </div>
      </div>
      <div class="column col-auto">
        <label class="form-label text-light">.</label>
        <button class="btn btn-link" (click)="removeAttribute(i)">
          Remove
        </button>
      </div>
    </div>
  </div>
</div>
