<!-- Editor -->
<div class="container grid-xl p-2" [formGroup]="formGroup">
  <div class="columns">
    <div class="column">
      <h3>{{ editing ? 'Edit' : 'Create' }} Article</h3>
    </div>

    <div class="column col-auto">
      <button
        class="btn btn-error mr-2"
        *ngIf="editing"
        (click)="delete()"
        [disabled]="loading || saving"
      >
        Delete
      </button>
      <button
        class="btn mr-2"
        (click)="cancel()"
        [disabled]="loading || saving"
      >
        Cancel
      </button>
      <button
        class="btn"
        [ngClass]="{ loading: saving }"
        (click)="save()"
        [disabled]="loading || saving || formGroup.invalid"
      >
        Save
      </button>
    </div>
  </div>

  <!-- Name -->
  <div
    class="form-group"
    [ngClass]="{ 'has-error': name.invalid && (name.dirty || name.touched) }"
  >
    <label class="form-label" for="name">Name</label>
    <input
      type="text"
      name="name"
      class="form-input"
      id="name"
      placeholder="Name"
      formControlName="name"
    />
    <p
      class="form-input-hint"
      *ngIf="
        name.invalid && (name.dirty || name.touched) && name.errors.required
      "
    >
      A name is required
    </p>
    <p
      class="form-input-hint"
      *ngIf="
        name.invalid && (name.dirty || name.touched) && name.errors.maxlength
      "
    >
      The name cannot be more than 30 characters long
    </p>
  </div>

  <!-- Text -->
  <div class="form-group">
    <label class="form-label" for="text">Content</label>
    <dd-quill formControlName="content"></dd-quill>
  </div>

  <!-- Published -->
  <div class="form-group">
    <label class="form-switch">
      <input type="checkbox" formControlName="published" />
      <i class="form-icon"></i> This article is published (players can view it)
    </label>
  </div>

  <!-- Tags -->
  <label class="form-label">Tags</label>
  <dd-tag-editor [formGroup]="formGroup"></dd-tag-editor>

  <!-- Icon -->
  <div class="form-group">
    <label class="form-label">Icon</label>
    <dd-icon-picker formControlName="content" ngDefaultControl></dd-icon-picker>
  </div>

  <!-- Quests -->
  <div class="form-group" *ngIf="editing && article">
    <label class="form-label">Quests</label>
    <dd-article-quest-manager [article]="article"></dd-article-quest-manager>
  </div>
</div>
