<dd-modal #itemselect>
  <div modal-header>Click to add</div>
  <div modal-body>
    <dd-item-select
      (selected)="addItem($event)"
      *ngIf="itemselect.isOpen"
    ></dd-item-select>
  </div>
</dd-modal>

<dd-modal #itemedit>
  <h4 modal-header *ngIf="editingItem">{{ editingItem.item.name }}</h4>
  <div modal-body *ngIf="editingItem">
    <form (ngSubmit)="saveItem()" [formGroup]="editFormGroup">
      <!-- Quantity -->
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input
          class="form-input"
          type="number"
          name="quantity"
          id="quantity"
          formControlName="quantity"
          #quantityedit
        />
      </div>

      <!-- Notes -->
      <div class="form-group">
        <label for="notes">Notes</label>
        <dd-quill formControlName="content" simple="true" id="notes"></dd-quill>
      </div>
    </form>
  </div>
  <div modal-footer *ngIf="editingItem">
    <button class="btn" (click)="itemedit.close(null)">Cancel</button>
    <button
      class="btn btn-primary ml-2"
      (click)="saveItem()"
      [ngClass]="{ loading: working }"
      [disabled]="editFormGroup.invalid"
    >
      Save
    </button>
    <button class="btn" style="float: left;" (click)="useItem(editingItem)">
      Use
    </button>
  </div>
</dd-modal>

<div>
  <!-- Control Title -->
  <div class="columns">
    <div class="column">
      <h5>Inventory <span *ngIf="working">(Working...)</span></h5>
    </div>
    <div class="column col-auto col-ml-auto" *ngIf="editable">
      <button class="btn btn-sm" (click)="itemselect.open()">
        <i class="icon icon-plus"></i> Add Item
      </button>
    </div>
  </div>

  <div class="loading" *ngIf="loading"></div>

  <!-- Items -->
  <div>
    <div class="card px-1 pt-1 mb-1" *ngFor="let i of inventory">
      <div class="columns col-gapless">
        <div
          class="column col-auto mr-2"
          [ngClass]="{ 'c-hand': editable }"
          (click)="editItem(i)"
        >
          <img
            class="s-rounded"
            width="32"
            src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{
              i.item.imageId
            }}"
            *ngIf="i.item.imageId"
            style="margin-bottom: -0.075rem"
          />
          <img
            class="s-rounded"
            width="32"
            src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/placeholder"
            *ngIf="!i.item.imageId"
            style="margin-bottom: -0.075rem"
          />
        </div>
        <div
          class="column"
          [ngClass]="{ 'c-hand': editable }"
          (click)="editItem(i)"
        >
          {{ i.item.name }}
          <sup class="text-bold text-small" *ngIf="i.quantity !== 1"
            >x{{ i.quantity }}</sup
          >
        </div>
        <div class="column col-auto">
          <button
            class="btn btn-sm ml-1"
            [routerLink]="['/campaigns', campaign.id, 'items', i.item.id]"
          >
            <i class="icon icon-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Empty state -->
  <div class="empty p-2" *ngIf="inventory && inventory.length === 0">
    <p class="empty-subtitle">No items here!</p>
  </div>
</div>
