<div class="container grid-xl">
  <!-- Header Area -->
  <div class="columns">
    <div class="column mb-0">
      <h3>{{ editing ? 'Edit' : 'Create' }} Concept Type</h3>
    </div>
    <div class="column col-auto">
      <button class="btn btn-error mr-2" (click)="delete()" *ngIf="editing" [ngClass]="{ loading: deleting }">
        Delete
      </button>

      <button class="btn mr-2" (click)="cancel()">
        Cancel
      </button>

      <button class="btn btn-primary" (click)="save()" [ngClass]="{ loading: saving }"
        [disabled]="formGroup.invalid || formGroup.pristine">
        Save
      </button>
    </div>
  </div>

  <div class="mt-2">
    <!-- Form -->
    <dd-dynamic-field [control]="name" [config]="nameFieldConfig" showLabel="true"></dd-dynamic-field>

    <!-- Form -->
    <dd-dynamic-field [control]="pluarlForm" [config]="pluralFormFieldConfig" showLabel="true"></dd-dynamic-field>

    <!-- Description -->
    <dd-dynamic-field [control]="description" [config]="descriptionFieldConfig" showLabel="true"></dd-dynamic-field>

    <!-- Icon -->
    <div class="form-group">
      <label>Icon</label>
      <dd-icon-picker [formControl]="icon"></dd-icon-picker>
    </div>

    <!-- Entity Config -->
    <div [formGroup]="entityConfig" class="big-space">
      <h3 class="my-2">Entity Settings</h3>

      <!-- Enabled -->
      <div class="form-group">
        <label class="form-checkbox mb-0">
          <input type="checkbox" formControlName="enabled" />
          <i class="form-icon"></i> Entities can have this concept
        </label>
        <div class="form-input-hint mt-0">
          This would be like characters having items for example
        </div>
      </div>

      <!-- Enable Quantity -->
      <div class="form-group" *ngIf="entityConfig.value.enabled">
        <label class="form-checkbox mb-0">
          <input type="checkbox" formControlName="enableQuantity" />
          <i class="form-icon"></i> Enable quantities
        </label>
        <div class="form-input-hint mt-0">This would be like characters having a specific number of a certain item</div>
      </div>
    </div>

    <!-- Field Config -->
    <div class="columns big-space">
      <div class="column">
        <h3>Fields</h3>
      </div>
      <div class="column col-auto">
        <button class="btn btn-sm" (click)="addField()">
          <i class="icon icon-plus"></i> Add Field
        </button>
      </div>
    </div>
    <div *ngFor="
        let field of fields.controls;
        let idx = index;
        trackBy: trackField
      " class="mt-2">
      <div class="columns mb-1">
        <div class="column">
          <h6 class="mb-0">{{ field.value.name }}</h6>
        </div>
        <div class="column col-auto">
          <button class="btn btn-sm btn-error" (click)="removeField(idx)">
            <i class="icon icon-cross"></i><span class="hide-sm"> Remove</span>
          </button>
        </div>
      </div>
      <dd-field-definition-form [formGroup]="field"></dd-field-definition-form>
    </div>
  </div>
</div>