<div class="container grid-xl">
  <!-- Header Area -->
  <div class="columns">
    <div class="column">
      <h3>{{ editing ? 'Edit' : 'Create' }} Concept</h3>
    </div>
    <div class="column col-auto">
      <button
        class="btn btn-error mr-2"
        (click)="delete()"
        *ngIf="editing"
        [ngClass]="{ loading: deleting }"
      >
        Delete
      </button>

      <button class="btn mr-2" (click)="cancel()">
        Cancel
      </button>

      <button
        class="btn btn-primary"
        (click)="save()"
        [ngClass]="{ loading: saving }"
        [disabled]="formGroup.invalid || formGroup.pristine"
      >
        Save
      </button>
    </div>
  </div>

  <div class="mt-2">
    <!-- Form -->
    <dd-dynamic-field
      [control]="name"
      [config]="nameFieldConfig"
      showLabel="true"
    ></dd-dynamic-field>

    <!-- Description -->
    <dd-dynamic-field
      [control]="description"
      [config]="descriptionFieldConfig"
      showLabel="true"
    ></dd-dynamic-field>

    <!-- Icon -->
    <div class="form-group">
      <label>Icon</label>
      <dd-icon-picker [formControl]="icon"></dd-icon-picker>
    </div>

    <!-- Field Config -->
    <div class="columns">
      <div class="column">
        <h4>Fields</h4>
      </div>
      <div class="column col-auto">
        <button class="btn btn-sm" (click)="addField()">
          <i class="icon icon-plus"></i> Add Field
        </button>
      </div>
    </div>
    <div>
      <dd-field-definition-form
        *ngFor="let field of fields.controls"
        [formControl]="field"
      ></dd-field-definition-form>
    </div>
  </div>
</div>
