/* You can add global styles to this file, and also import other style files */
@import './variables.scss';
@import 'spectre.css';
@import 'spectre.css/dist/spectre-icons.css';
@import 'spectre.css/dist/spectre-exp.css';

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-row-rev {
  flex-direction: row-reverse;
}

.flex-col-rev {
  flex-direction: column-reverse;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.justify-end {
  justify-content: end;
  justify-content: flex-end;
}

.align-end {
  align-content: end;
  align-content: flex-end;
}

.align-items-end {
  align-items: end;
  align-items: flex-end;
}

.align-self-center {
  align-self: center;
}

$hover-scale: 1.005;

.hoverable {
  transition: 0.25s transform;
}

.hoverable:hover,
.hoverable:active {
  background: $secondary-color;
  cursor: pointer;
  outline: 2px solid $primary-color;
  transform: scale($hover-scale, $hover-scale);
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
