/* You can add global styles to this file, and also import other style files */
@import './variables.scss';
@import 'spectre.css/src/spectre.scss';
@import 'spectre.css/dist/spectre-icons.css';
@import 'spectre.css/dist/spectre-exp.css';
@import 'sweetalert2/dist/sweetalert2.min.css';
@import './toast.scss';
@import '~leaflet-draw/dist/leaflet.draw.css';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';
@import '~leaflet/dist/leaflet.css';

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-row-rev {
  flex-direction: row-reverse;
}

.flex-col-rev {
  flex-direction: column-reverse;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.justify-end {
  justify-content: end;
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-end {
  align-content: end;
  align-content: flex-end;
}

.align-items-end {
  align-items: end;
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

// Firefox image loading glitch https://stackoverflow.com/questions/13522532/border-and-title-showing-while-image-loading-in-firefox/13522578#13522578
img:-moz-loading {
  visibility: hidden;
}

$hover-scale: 1.005;

.hoverable {
  transition: 0.25s transform;
}

.hoverable:hover,
.hoverable:active {
  background: $secondary-color;
  cursor: pointer;
  outline: 2px solid $primary-color;
  transform: scale($hover-scale, $hover-scale);
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-item {
  @extend .menu-item;

  & > span,
  & > div {
    border-radius: $border-radius;
    color: inherit;
    display: block;
    margin: 0 (-$unit-2);
    padding: $unit-1 $unit-2;
    text-decoration: none;
    cursor: pointer;

    &:focus,
    &:hover,
    &:active {
      background: $secondary-color;
      color: $primary-color;
    }
  }
}

.mention {
  @extend a;
  cursor: pointer;
}

.menu-item.selected > span,
.menu-item.selected > div {
  background: $secondary-color;
  color: $primary-color;
}

// Force quill to use the same fonts as the rest of the app
.ql-container {
  font-family: $base-font-family;
  font-size: $font-size;
  text-rendering: optimizeLegibility;
}

.ql-mention-list-container {
  z-index: 500;
}

.ql-tooltip {
  z-index: 500;
}

[hidden] {
  display: none !important;
}
