<div class="container grid-xl">
  <dd-http-errors [error]="loadError"></dd-http-errors>

  <!-- Header Controls -->
  <div class="columns" *ngIf="conceptType">
    <!-- Title -->
    <div class="column col-auto">
      <h3 class="mb-0">{{ conceptType.pluralForm }}</h3>
    </div>

    <!-- Add Button -->
    <div class="column col-auto">
      <button class="btn btn-sm" *ngIf="editing" (click)="create()">
        <i class="icon icon-plus"></i><span class="hide-sm"> New {{ conceptType.name }}</span>
      </button>
    </div>

    <!-- Search Bar -->
    <div class="column col-sm-12 my-1">
      <div class="has-icon-right">
        <input type="text" class="form-input" placeholder="Search..." [formControl]="searchControl" />
        <i class="icon icon-search form-icon" *ngIf="!loading || !concepts"></i>
        <div class="loading form-icon" *ngIf="loading && concepts"></div>
      </div>
    </div>
  </div>

  <!-- Loading -->
  <div class="loading loading-lg" *ngIf="loading && !concepts"></div>

  <!-- Concept List -->
  <div *ngIf="concepts && conceptType">
    <div class="card p-1 hoverable mb-1" *ngFor="let c of concepts; trackBy: trackConcept" (click)="selectConcept(c)">
      <dd-concept-list-item [concept]="c"></dd-concept-list-item>
    </div>

    <!-- Paginator -->
    <dd-paginator
      [itemsPerPage]="10"
      [page]="page"
      [autoHide]="false"
      [totalItems]="totalConcepts"
      [loading]="loading"
      (pageChange)="changePage($event)"
      *ngIf="concepts && concepts.length > 0"
    ></dd-paginator>
  </div>

  <!-- Empty State (No concepts) -->
  <div class="empty" *ngIf="conceptType && concepts && totalConcepts === 0 && !search">
    <div class="empty-icon">
      <i class="icon icon-search icon-4x"></i>
    </div>
    <p class="empty-title h5">There are no {{ conceptType.pluralForm }}</p>
    <p class="empty-subtitle" *ngIf="editing">Click the button to create one</p>
    <div class="empty-action" *ngIf="editing">
      <button class="btn btn-primary" (click)="create()">Create {{ conceptType.name }}</button>
    </div>
  </div>

  <!-- Empty State (Nothing from search) -->
  <div class="empty" *ngIf="conceptType && concepts && concepts.length === 0 && search">
    <div class="empty-icon">
      <i class="icon icon-search icon-4x"></i>
    </div>
    <p class="empty-title h5">Your search returned nothing</p>

    <p class="empty-subtitle" *ngIf="canCreateFromSearch">
      Click the button below to create a new {{ conceptType.name }} called {{ search }}
    </p>
    <div class="empty-action" *ngIf="canCreateFromSearch">
      <button class="btn btn-primary" (click)="createFromSearch()">Create {{ search }}</button>
    </div>
  </div>
</div>
