<div class="container grid-xl" [formGroup]="formGroup">
  <div class="columns">
    <div class="column col-3 col-md-12 col-mx-auto" *ngIf="includeImage">
      <label class="form-label">Image</label>
      <dd-image-upload [formGroup]="formGroup"></dd-image-upload>
    </div>
    <div class="column col-9 col-md-12">
      <div
        class="form-group"
        [ngClass]="{
          'has-error': name.invalid && (name.dirty || name.touched)
        }"
      >
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          name="name"
          formControlName="name"
          id="name"
          class="form-input"
          placeholder="Name"
        />
        <p
          class="form-input-hint"
          *ngIf="
            name.invalid && (name.dirty || name.touched) && name.errors.required
          "
        >
          A name is required
        </p>
        <p
          class="form-input-hint"
          *ngIf="
            name.invalid &&
            (name.dirty || name.touched) &&
            name.errors.minlength
          "
        >
          The name cannot be shorter than 3 characters
        </p>
        <p
          class="form-input-hint"
          *ngIf="
            name.invalid &&
            (name.dirty || name.touched) &&
            name.errors.maxlength
          "
        >
          The name cannot be longer than 30 characters
        </p>
      </div>

      <div
        class="form-group"
        [ngClass]="{
          'has-error':
            description.invalid && (description.dirty || description.touched)
        }"
      >
        <label class="form-label">Description</label>
        <dd-quill
          simple="true"
          formControlName="content"
          placeholder="Description"
        ></dd-quill>
      </div>
    </div>
  </div>
</div>
