<dd-confirmation-modal #confirmmodal></dd-confirmation-modal>
<div class="container grid-xl">
  <div class="loading loading-lg" *ngIf="loading"></div>

  <div class="columns col-oneline" *ngIf="!loading || !editing">
    <div class="column col-ml-auto col-auto">
      <button class="btn mr-2" (click)="cancel()">Cancel</button>
      <button
        class="btn btn-error mr-2"
        [ngClass]="{ loading: deleting }"
        [disabled]="saving"
        *ngIf="editing"
        (click)="delete()"
      >
        Delete
      </button>
      <button
        class="btn btn-primary"
        [disabled]="formGroup.invalid"
        (click)="save()"
        [ngClass]="{ loading: saving }"
      >
        Save
      </button>
    </div>
  </div>

  <!-- Spell Form Elements -->
  <div [formGroup]="formGroup">
    <div class="columns">
      <div class="column col-3 col-md-12">
        <label class="form-label">Spell Image</label>
        <dd-image-upload [formGroup]="formGroup"></dd-image-upload>
      </div>
      <div class="column col-9 col-md-12">
        <!-- Name -->
        <div
          class="form-group"
          [ngClass]="{
            'has-error': name.invalid && (name.dirty || name.touched),
            'has-success': name.valid
          }"
        >
          <label class="form-label label-lg" for="spell-name">Name</label>
          <input
            class="form-input input-lg"
            formControlName="name"
            type="text"
            id="spell-name"
            placeholder="Sword of Agatha"
          />
          <p
            class="form-input-hint"
            *ngIf="
              name.invalid &&
              (name.dirty || name.touched) &&
              name.errors.required
            "
          >
            The spell needs a name
          </p>
          <p
            class="form-input-hint"
            *ngIf="
              name.invalid &&
              (name.dirty || name.touched) &&
              name.errors.minlength
            "
          >
            The name is too short
          </p>
          <p
            class="form-input-hint"
            *ngIf="
              name.invalid &&
              (name.dirty || name.touched) &&
              name.errors.maxlength
            "
          >
            The name can't be more than 30 characters long
          </p>
        </div>

        <!-- Description -->
        <div
          class="form-group"
          [ngClass]="{
            'has-error':
              description.invalid && (description.touched || description.dirty),
            'has-success': description.valid
          }"
        >
          <label class="form-label" for="spell-description">Description</label>
          <textarea
            class="form-input"
            formControlName="description"
            id="spell-description"
            rows="5"
            placeholder="Sharp sword made of metal"
          ></textarea>
          <p class="form-input-hint mb-1">
            Descriptions can use
            <a
              href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"
              target="_blank"
              rel="noopener noreferrer"
              >Markdown</a
            >
            styles
          </p>
          <p
            class="form-input-hint"
            *ngIf="
              description.invalid &&
              (description.touched || description.dirty) &&
              description.errors.required
            "
          >
            The spell needs a description
          </p>
        </div>

        <!-- Player Visible -->
        <div class="form-group">
          <label class="form-switch">
            <input type="checkbox" formControlName="playerVisible" />
            <i class="form-icon"></i> Spell is visible to players
          </label>
        </div>

        <!-- Tags -->
        <label class="form-label">Tags</label>
        <dd-tag-editor [formGroup]="formGroup"></dd-tag-editor>
      </div>
    </div>
  </div>
</div>
