<div [formGroup]="formGroup">
  <div class="columns">
    <div class="column col-auto"><dd-image-upload [formGroup]="formGroup"></dd-image-upload></div>
    <div class="column">
      <div class="form-group">
        <label class="form-label label-lg" for="item-name">Name</label>
        <input
          class="form-input input-lg"
          formGroupName="name"
          type="text"
          id="item-name"
          placeholder="Sword of Agatha"
        />
      </div>

      <div class="form-group">
        <label class="form-label" for="item-description">Description</label>
        <textarea
          class="form-input"
          formGroupName="description"
          id="item-description"
          rows="5"
          placeholder="Sharp sword made of metal"
        ></textarea>
      </div>

      <dd-attribute-editor [formGroup]="formGroup"></dd-attribute-editor>
    </div>
  </div>
</div>
