<div class="mb-2 bg-light">
  <div class="py-2">
    <header class="navbar">
      <section>
        <a class="off-canvas-toggle btn btn-link btn-action" (click)="toggle()">
          <i class="icon icon-menu"></i>
        </a>
      </section>
      <section class="navbar-section">
        <button
          class="btn badge"
          data-badge="0"
          [routerLink]="['notifications']"
        >
          <i class="icon icon-flag"></i>
        </button>
        <a
          *ngIf="campaign"
          class="btn btn-link"
          [routerLink]="['campaigns', campaign.id, 'landing']"
        >
          {{ campaign.name }}
        </a>
        <span class="text-italic btn btn-link" *ngIf="!campaign"
          >No campaign selected...</span
        >
      </section>
    </header>
  </div>
</div>
