<!-- Notifications Modal -->
<dd-modal #notifmodal>
  <h4 modal-header>Notifications</h4>
  <dd-notifications
    modal-body
    (done)="notifmodal.close(null)"
  ></dd-notifications>
</dd-modal>

<div class="bg-light">
  <div class="p-2">
    <header class="navbar">
      <section>
        <a class="off-canvas-toggle btn btn-link btn-action" (click)="toggle()">
          <i class="icon icon-menu"></i>
        </a>
      </section>
      <section class="navbar-section p-1" *ngIf="loggedIn">
        <button
          class="btn badge"
          [attr.data-badge]="notificationText"
          (click)="notifmodal.open()"
        >
          <i class="icon icon-flag"></i>
        </button>
      </section>
      <section *ngIf="!loggedIn">
        <a [routerLink]="['login']" class="btn btn-link">Login</a>
      </section>
    </header>
  </div>
</div>
