<!-- Label Editor Modal -->
<dd-modal size="small" #labelmodal>
  <h5 modal-header>Edit Label</h5>
  <div modal-body>
    <dd-dynamic-field [config]="labelFieldConfig" [control]="labelControl"></dd-dynamic-field>
  </div>
  <div modal-footer>
    <!-- Clear Label Button -->
    <button class="btn btn-sm btn-error mr-2" (click)="labelmodal.close('clear-label')"><i class="icon icon-cross"></i> Clear Label</button>

    <!-- Save Button -->
    <button class="btn btn-sm" [disabled]="labelControl.invalid" (click)="labelmodal.close(labelControl.value)">
      Save
    </button>
  </div>
</dd-modal>

<dd-selector-popup [searchable]="true" [loadSelectItems]="loadConcepts" #conceptselector></dd-selector-popup>

<!-- Page Content -->
<div class="container">
  <div class="columns">
    <div class="column"><h3>Overview</h3></div>
  </div>

  <!-- Entity list -->
  <div cdkDropList (cdkDropListDropped)="entityDropped($event)">
    <div class="mb-2" *ngFor="let e of sortedEntities; trackBy: trackEntityElement" cdkDrag [cdkDragDisabled]="!reorderable">
      <div class="drag-placeholder" *cdkDragPlaceholder></div>
      <dd-overview-entity
        [entity]="e"
        [showMoveIcon]="reorderable"
        (editLabel)="editLabel(e)"
        (addConcept)="addConceptTypeToEntity($event, e)"
        (clearConcepts)="clearConcepts($event, e)"
        [label]="labels && labels[e.id]"
        [conceptEntities]="getConceptsForEntity(e.id)"
      ></dd-overview-entity>
    </div>
  </div>

  <!-- Empty State -->
  <div class="empty mb-2" *ngIf="sortedEntities.length === 0">
    <div class="empty-icon"><i class="icon icon-search icon-4x"></i></div>
    <p class="empty-title h5">There's nothing here</p>
    <p class="empty-subtitle">Once the campaign gets going this will fill up</p>
  </div>

  <!-- Toolbar -->
  <dd-overview-toolbar *ngIf="sortedEntities.length > 0 && editable" [state]="state"></dd-overview-toolbar>
</div>
