<div class="container">
  <div class="columns">
    <div class="column"><h3>Overview</h3></div>
  </div>

  <!-- Entity list -->
  <div cdkDropList (cdkDropListDropped)="entityDropped($event)">
    <div class="mb-2" *ngFor="let e of sortedEntities; trackBy: trackEntityElement" cdkDrag [cdkDragDisabled]="!reorderable">
      <dd-overview-entity [entity]="e" [showMoveIcon]="reorderable"></dd-overview-entity>
    </div>
  </div>

  <!-- Empty State -->
  <div class="empty mb-2" *ngIf="sortedEntities.length === 0">
    <div class="empty-icon"><i class="icon icon-search icon-4x"></i></div>
    <p class="empty-title h5">There's nothing here</p>
    <p class="empty-subtitle">Once the campaign gets going this will fill up</p>
  </div>

  <!-- Toolbar -->
  <dd-overview-toolbar *ngIf="sortedEntities.length > 0 && editable" [state]="state"></dd-overview-toolbar>
</div>
