<div class="container grid-xl">
  <div class="columns">
    <!-- Header -->
    <div class="column"><h3>Spawnables</h3></div>

    <!-- Add Button -->
    <div class="column col-auto col-ml-auto">
      <button
        class="btn btn-sm ml-1"
        *ngFor="let ep of campaign.entityPresets"
        (click)="addSpawnable(ep)"
      >
        <i class="icon icon-plus"></i> {{ ep.name }}
      </button>
    </div>
  </div>

  <div class="loading loading-lg" *ngIf="loading"></div>

  <!-- Spawnable list -->
  <div *ngIf="spawnables">
    <!-- Empty State -->
    <div class="empty" *ngIf="spawnables.length === 0">
      <div class="empty-icon"><i class="icon icon-search icon-4x"></i></div>
      <p class="empty-title h5">There are no spawnables :(</p>
      <p class="empty-subtitle">Use the buttons above to create one</p>
    </div>

    <!-- List -->
    <div
      class="card mb-2 p-2 hoverable"
      *ngFor="let s of spawnables"
      (click)="selectSpawnable(s)"
    >
      <h5 class="mb-0">{{ s.name }}</h5>
    </div>
  </div>
</div>
