<div *ngIf="notes">
  <div
    class="card mb-1 p-1 hoverable"
    *ngFor="let n of notes"
    (click)="noteSelected(n)"
  >
    <div class="columns col-gapless">
      <div class="column">{{ n.title }}</div>
      <div class="column col-auto text-gray text-italic text-right hide-sm">
        {{ getUserText(n.userId) }}
      </div>
      <div class="column text-gray text-italic show-sm col-12">
        {{ getUserText(n.userId) }}
      </div>
      <div
        class="column col-auto d-flex align-items-center ml-1"
        *ngIf="n.publicEdit"
      >
        <i class="icon icon-edit"></i>
      </div>
    </div>
  </div>
</div>
