<div class="container grid-xl">
  <h3>Campaigns</h3>
  <div class="loading loading-lg" *ngIf="loading"></div>

  <!-- Display Campaings -->
  <div *ngFor="let c of campaigns">
    <div class="card hoverable p-2 mb-2" (click)="selectCampaign(c)">
      <div class="columns">
        <div class="column col-auto" *ngIf="c.imageId">
          <figure class="avatar avatar-lg">
            <img [src]="imageSource(c.imageId)" />
          </figure>
        </div>
        <div class="column">
          <h4 class="mb-1">{{ c.name }}</h4>
          <span class="text-gray">{{ c.description | truncate: 150 }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
