<ul class="pagination">
  <li class="page-item">
    <button class="btn btn-link" (click)="prev()" [disabled]="!canPrev">
      <i class="icon icon-arrow-left"></i>
    </button>
  </li>
  <li class="page-item" *ngFor="let p of pageArr">
    <button
      class="btn"
      [ngClass]="{ 'btn-primary': page === p, 'btn-link': page !== p }"
      (click)="setPage(p)"
      *ngIf="p > 0"
    >
      {{ p }}
    </button>
    <span *ngIf="p === -1">...</span>
  </li>
  <li class="page-item">
    <button class="btn btn-link" (click)="next()" [disabled]="!canNext">
      <i class="icon icon-arrow-right"></i>
    </button>
  </li>
</ul>
