<div class="container grid-xl">
  <!-- Loader -->
  <div class="loading loading-lg" *ngIf="loading"></div>

  <!-- Title Control -->
  <div class="columns" *ngIf="entity || !editing">
    <div class="column">
      <h3>{{ editing ? 'Edit' : 'Create' }} {{ preset.name }}</h3>
    </div>
    <div class="column col-auto col-ml-auto">
      <button class="btn mr-2" (click)="cancel()">Cancel</button>

      <button class="btn btn-error mr-2" (click)="delete()" *ngIf="editing">
        Delete
      </button>

      <button
        class="btn btn-primary"
        (click)="save()"
        [ngClass]="{ loading: saving }"
        [disabled]="formGroup.invalid || attributesFormGroup.invalid"
      >
        Save
      </button>
    </div>
  </div>

  <!-- Form -->
  <div [formGroup]="formGroup" *ngIf="entity || !editing">
    <div class="columns">
      <!-- Image Upload -->
      <div class="column col-3 col-md-12">
        <dd-image-upload formControlName="imageId"></dd-image-upload>

        <!-- XP -->
        <div
          class="form-group"
          [ngClass]="{
            'has-error': xp.invalid && (xp.touched || xp.dirty),
            'has-success': xp.valid && (xp.touched || xp.dirty)
          }"
          *ngIf="preset.isXPEnabled"
        >
          <label for="xp" class="form-label">XP <span class="text-large text-bold text-primary">*</span></label>
          <input type="number" name="xp" id="xp" class="form-input" placeholder="XP" formControlName="xp" />
          <p class="form-input-hint" *ngIf="xp.invalid && (xp.touched || xp.dirty) && xp.errors.required">
            An XP value is required
          </p>
          <p class="form-input-hint" *ngIf="xp.invalid && (xp.touched || xp.dirty) && xp.errors.min">
            Can't have negative XP :/
          </p>
        </div>
      </div>

      <!-- Standard form inputs -->
      <div class="column col-9 col-md-12">
        <!-- Name -->
        <div
          class="form-group"
          [ngClass]="{
            'has-error': name.invalid && (name.touched || name.dirty),
            'has-success': name.valid && (name.touched || name.dirty)
          }"
        >
          <label for="name" class="form-lable">Name <span class="text-large text-bold text-primary">*</span></label>
          <input type="text" name="name" id="name" formControlName="name" class="form-input" placeholder="Name" />
          <p class="form-input-hint" *ngIf="name.invalid && (name.touched || name.dirty) && name.errors.required">
            A name is required
          </p>
          <p class="form-input-hint" *ngIf="name.invalid && (name.touched || name.dirty) && name.errors.minlength">
            The name can't be shorter than 2 characters
          </p>
          <p class="form-input-hint" *ngIf="name.invalid && (name.touched || name.dirty) && name.errors.maxlength">
            The name can't be longer than 20 characters
          </p>
        </div>

        <!-- Description -->
        <div class="form-group">
          <label for="description" class="form-label">Description <span class="text-large text-bold text-primary">*</span></label>
          <dd-quill simple="true" formControlName="content" placeholder="Description"></dd-quill>
        </div>

        <!-- Spawnable -->
        <div class="form-group" *ngIf="campaignEditable">
          <label class="form-checkbox">
            <input type="checkbox" formControlName="spawnable" />
            <i class="form-icon"></i> This {{ preset.name }} is spawnable
          </label>
          <p class="form-input-hint">Turns this {{ preset.name }} into a preset that can be quickly spawned into game sessions.</p>
        </div>

        <!-- Currency -->
        <dd-dynamic-field [config]="currencyConfig" [control]="currency"></dd-dynamic-field>

        <!-- Health -->
        <div
          class="form-group"
          [ngClass]="{
            'has-error': health.invalid && (health.dirty || health.touched),
            'has-success': health.valid && (health.dirty || health.touched)
          }"
          formGroupName="health"
          *ngIf="preset.isHealthEnabled"
        >
          <label class="form-label">Health</label>
          <div class="input-group">
            <input type="number" name="current-hp" formControlName="current" id="current-hp" placeholder="Current HP" class="form-input" />
            <span class="input-group-addon">/</span>
            <input type="number" name="current-hp" formControlName="max" placeholder="Max HP" id="current-hp" class="form-input" />
          </div>
          <p
            class="form-input-hint mb-0"
            *ngIf="hpCurrent.invalid && (hpMax.dirty || hpMax.touched || hpCurrent.dirty || hpCurrent.touched) && hpCurrent.errors.required"
          >
            A value is required for current health
          </p>
          <p
            class="form-input-hint mb-0"
            *ngIf="hpMax.invalid && (hpMax.dirty || hpMax.touched || hpCurrent.dirty || hpCurrent.touched) && hpMax.errors.required"
          >
            A value is required for max health
          </p>
        </div>

        <!-- Health Text Levels -->
        <div class="form-group" formGroupName="health" *ngIf="preset.isHealthEnabled && preset.health.type === 1">
          <div class="columns">
            <div class="column">
              <label class="form-label">Health Text</label>
            </div>
            <div class="column col-auto">
              <button class="button btn btn-sm" (click)="addHealthText()">
                <div class="i icon icon-plus"></div>
              </button>
            </div>
          </div>
          <!-- Single Input -->
          <div *ngFor="let lvl of hpTextLevels.controls; let idx = index" [formGroup]="lvl">
            <div class="columns">
              <!-- Percentage -->
              <div class="column col-2 form-group">
                <div class="input-group">
                  <input type="number" min="0" max="100" class="form-input" placeholder="80" formControlName="percent" />
                  <div class="input-group-addon">
                    %
                  </div>
                </div>
              </div>

              <!-- Text -->
              <div class="column">
                <input type="text" class="form-input" placeholder="Looking a little bit sad" formControlName="text" />
              </div>

              <!-- Remove Button -->
              <div class="column col-auto">
                <button class="btn btn-error" (click)="removeHealthText(idx)">
                  <i class="icon icon-cross"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="mt-2">Custom Attributes</h3>
    <dd-dynamic-attribute-form [formGroup]="attributesFormGroup" [attributes]="preset.attributes"></dd-dynamic-attribute-form>
  </div>
</div>
