<div class="container grid-xl">
  <!-- Loader -->
  <div class="loading loading-lg" *ngIf="loading"></div>

  <div class="columns" *ngIf="entity || !editing">
    <div class="column">
      <h3>Edit {{ preset.name }}</h3>
    </div>
    <div class="column col-auto col-ml-auto">
      <button
        class="btn"
        (click)="save()"
        [ngClass]="{ loading: saving }"
        [disabled]="formGroup.invalid || attributesFormGroup.invalid"
      >
        Save
      </button>
    </div>
  </div>
  <!-- Form -->
  <div [formGroup]="formGroup" *ngIf="entity || !editing">
    <div class="columns">
      <div class="column col-auto">
        <dd-image-upload [formGroup]="formGroup"></dd-image-upload>

        <div
          class="form-group"
          [ngClass]="{
            'has-error': xp.invalid && (xp.touched || xp.dirty),
            'has-success': xp.valid && (xp.touched || xp.dirty)
          }"
        >
          <label for="xp" class="form-label">XP</label>
          <input
            type="number"
            name="xp"
            id="xp"
            class="form-input"
            placeholder="XP"
            formControlName="xp"
          />
          <p
            class="form-input-hint"
            *ngIf="xp.invalid && (xp.touched || xp.dirty) && xp.errors.required"
          >
            An XP value is required
          </p>
          <p
            class="form-input-hint"
            *ngIf="xp.invalid && (xp.touched || xp.dirty) && xp.errors.min"
          >
            XP must be more than 0
          </p>
          <p
            class="form-input-hint"
            *ngIf="xp.invalid && (xp.touched || xp.dirty) && xp.errors.max"
          >
            Too many XP!!
          </p>
        </div>
      </div>

      <!-- Standard form inputs -->
      <div class="column">
        <!-- Name -->
        <div
          class="form-group"
          [ngClass]="{
            'has-error': name.invalid && (name.touched || name.dirty),
            'has-success': name.valid && (name.touched || name.dirty)
          }"
        >
          <label for="name" class="form-lable">Name</label>
          <input
            type="text"
            name="name"
            id="name"
            formControlName="name"
            class="form-input"
            placeholder="Name"
          />
          <p
            class="form-input-hint"
            *ngIf="
              name.invalid &&
              (name.touched || name.dirty) &&
              name.errors.required
            "
          >
            A name is required
          </p>
          <p
            class="form-input-hint"
            *ngIf="
              name.invalid &&
              (name.touched || name.dirty) &&
              name.errors.minlength
            "
          >
            The name can't be shorter than 2 characters
          </p>
          <p
            class="form-input-hint"
            *ngIf="
              name.invalid &&
              (name.touched || name.dirty) &&
              name.errors.maxlength
            "
          >
            The name can't be longer than 30 characters
          </p>
        </div>

        <!-- Description -->
        <div
          class="form-group"
          [ngClass]="{
            'has-error':
              description.invalid && (description.touched || description.dirty),
            'has-success':
              description.valid && (description.touched || description.dirty)
          }"
        >
          <label for="description" class="form-label">Description</label>
          <textarea
            name="description"
            id="description"
            formControlName="description"
            rows="5"
            class="form-input"
            placeholder="Description"
          ></textarea>
          <p
            class="form-input-hint"
            *ngIf="
              description.invalid &&
              (description.touched || description.dirty) &&
              description.errors.minlength
            "
          >
            The description can't be shorter than 3 characters
          </p>
          <p
            class="form-input-hint"
            *ngIf="
              description.invalid &&
              (description.touched || description.dirty) &&
              description.errors.required
            "
          >
            The description is required
          </p>
        </div>
      </div>
    </div>

    <h3 class="mt-2">Custom Attributes</h3>
    <dd-dynamic-attribute-form
      [formGroup]="attributesFormGroup"
      [attributes]="preset.attributes"
    ></dd-dynamic-attribute-form>
  </div>
</div>
