<dd-modal #modal>
  <div modal-header *ngIf="attribute && control">
    <div class="modal-title">Edit {{ attribute.name }}</div>
  </div>

  <div modal-body *ngIf="attribute && control">
    <form (ngSubmit)="ok()" #attrForm="ngForm">
      <div
        class="form-group col-12"
        [ngClass]="{
          'has-error': control.invalid && (control.dirty || control.touched),
          'has-success': control.valid && (control.dirty || control.touched)
        }"
      >
        <div class="col-1 col-lg-2 col-sm-12">
          <label class="form-label"> {{ attribute.name }} </label>
        </div>
        <div class="col-11 col-lg-10 col-sm-12">
          <div [ngClass]="{ 'has-icon-left': attribute.imageId }" [ngSwitch]="attribute.type">
            <!-- Text Input -->
            <input
              type="text"
              name="attr"
              class="form-input"
              [placeholder]="attribute.name"
              [formControl]="control"
              *ngSwitchCase="0"
            />

            <!-- Number Input -->
            <input
              type="number"
              name="attr"
              class="form-input"
              [placeholder]="attribute.name"
              [formControl]="control"
              *ngSwitchCase="1"
            />

            <!-- Enum input -->
            <select class="form-input" name="attr" [formControl]="control" *ngSwitchCase="2">
              <option *ngFor="let o of attribute.options" [value]="o">{{ o }}</option>
            </select>

            <figure class="form-icon avatar" *ngIf="attribute.imageId">
              <img [src]="imageSource(attribute.imageId)" />
            </figure>
          </div>
          <p class="form-input-hint mb-0">{{ attribute.description }}</p>
          <p
            class="form-input-hint mb-1"
            *ngIf="control.invalid && (control.dirty || control.touched) && control.errors.required"
          >
            {{ attribute.name }} is required
          </p>
          <p
            class="form-input-hint mb-1"
            *ngIf="control.invalid && (control.dirty || control.touched) && control.errors.min"
          >
            {{ attribute.name }} can't be lower than {{ attribute.min }}
          </p>
          <p
            class="form-input-hint mb-1"
            *ngIf="control.invalid && (control.dirty || control.touched) && control.errors.max"
          >
            {{ attribute.name }} can't be higher than {{ attribute.max }}
          </p>
          <p
            class="form-input-hint mb-1"
            *ngIf="control.invalid && (control.dirty || control.touched) && control.errors.minlength"
          >
            {{ attribute.name }} cannot have less than {{ attribute.min }} characters
          </p>
          <p
            class="form-input-hint mb-1"
            *ngIf="control.invalid && (control.dirty || control.touched) && control.errors.maxlength"
          >
            {{ attribute.name }} cannot have more than {{ attribute.max }} characters
          </p>
        </div>
      </div>
    </form>
  </div>

  <div modal-footer *ngIf="attribute && control">
    <button class="btn btn-primary mr-2" (click)="cancel()">Cancel</button>
    <button class="btn" (click)="ok()" [disabled]="control.invalid">Save</button>
  </div>
</dd-modal>
