<div class="container grid-xl" *ngIf="campaign">
  <!-- Active Session Card -->
  <div class="card p-2">
    <div class="columns">
      <div class="column">
        <span class="text-large text-bold"
          >There is currently an active session!</span
        >
      </div>
      <div class="column col-auto col-ml-auto">
        <button class="btn btn-primary">
          Join Session <i class="icon icon-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column col-auto">
      <h1>{{ campaign.name }}</h1>
    </div>
    <div class="column col-auto col-ml-auto">
      <div class="dropdown">
        <button class="btn btn-link dropdown-toggle">
          Menu <i class="icon icon-caret"></i>
        </button>

        <ul class="menu">
          <li class="menu-item">
            <a [routerLink]="['..', 'entities', 'selecttype']">
              Create Entity
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
