<dd-confirmation-modal #confirmmodal></dd-confirmation-modal>
<div class="container grid-xl">
  <div class="loading loading-lg" *ngIf="loading"></div>

  <div class="columns col-oneline" *ngIf="!loading || !editing">
    <div class="column">
      <h3>{{ editing ? 'Edit' : 'Create' }} Item</h3>
    </div>
    <div class="column col-ml-auto col-auto">
      <button class="btn mr-2" (click)="cancel()">Cancel</button>
      <button
        class="btn btn-error mr-2"
        [ngClass]="{ loading: deleting }"
        [disabled]="saving"
        *ngIf="editing"
        (click)="delete()"
      >
        Delete
      </button>
      <button
        class="btn btn-primary"
        [disabled]="formGroup.invalid"
        (click)="save()"
        [ngClass]="{ loading: saving }"
      >
        Save
      </button>
    </div>
  </div>

  <!-- Item Form Elements -->
  <div [formGroup]="formGroup">
    <div class="columns">
      <div class="column col-3 col-md-12">
        <label class="form-label">Item Image</label>
        <dd-image-upload formControlName="imageId"></dd-image-upload>
      </div>
      <div class="column col-9 col-md-12">
        <!-- Name -->
        <div
          class="form-group"
          [ngClass]="{
            'has-error': name.invalid && (name.dirty || name.touched),
            'has-success': name.valid
          }"
        >
          <label class="form-label label-lg" for="item-name">Name</label>
          <input
            class="form-input input-lg"
            formControlName="name"
            type="text"
            id="item-name"
            placeholder="Sword of Agatha"
          />
          <p
            class="form-input-hint"
            *ngIf="
              name.invalid &&
              (name.dirty || name.touched) &&
              name.errors.required
            "
          >
            The item needs a name
          </p>
          <p
            class="form-input-hint"
            *ngIf="
              name.invalid &&
              (name.dirty || name.touched) &&
              name.errors.minlength
            "
          >
            The name is too short
          </p>
          <p
            class="form-input-hint"
            *ngIf="
              name.invalid &&
              (name.dirty || name.touched) &&
              name.errors.maxlength
            "
          >
            The name can't be more than 30 characters long
          </p>
        </div>

        <!-- Description -->
        <div class="form-group">
          <label class="form-label" for="item-description">Description</label>
          <dd-quill
            id="item-description"
            formControlName="content"
            placeholder="Description"
            simple="true"
          ></dd-quill>
        </div>

        <!-- Rarity -->
        <div class="form-group" [ngClass]="{ 'has-success': rarity.valid }">
          <label for="rarity" class="form-label">Rarity</label>
          <select
            name="rarity"
            id="rarity"
            class="form-input"
            formControlName="rarity"
          >
            <option [value]="i" *ngFor="let ir of rarities; let i = index">{{
              ir.name
            }}</option>
          </select>
        </div>

        <!-- Cost -->
        <div
          class="form-group"
          [ngClass]="{
            'has-error': cost.invalid && (cost.dirty || cost.touched),
            'has-success': cost.valid
          }"
        >
          <label for="cost" class="form-label">Cost</label>
          <input
            class="form-input"
            formControlName="cost"
            type="number"
            step="0.01"
            placeholder="Cost"
            name="cost"
            id="cost"
          />
          <p
            class="form-input-hint"
            *ngIf="
              cost.invalid &&
              (cost.dirty || cost.touched) &&
              cost.errors.required
            "
          >
            A cost is required
          </p>
          <p
            class="form-input-hint"
            *ngIf="
              cost.invalid && (cost.dirty || cost.touched) && cost.errors.number
            "
          >
            The cost must be a number
          </p>
        </div>

        <!-- Weight -->
        <div
          class="form-group"
          [ngClass]="{
            'has-error': weight.invalid && (weight.dirty || weight.touched),
            'has-success': weight.valid
          }"
        >
          <label for="weight" class="form-label">Weight</label>
          <input
            class="form-input"
            formControlName="weight"
            type="number"
            step="0.01"
            placeholder="Weight"
            name="weight"
            id="weight"
          />
          <p
            class="form-input-hint"
            *ngIf="
              weight.invalid &&
              (weight.dirty || weight.touched) &&
              weight.errors.required
            "
          >
            A weight is required
          </p>
          <p
            class="form-input-hint"
            *ngIf="
              weight.invalid &&
              (weight.dirty || weight.touched) &&
              weight.errors.number
            "
          >
            The weight must be a number
          </p>
        </div>

        <!-- Player Visible -->
        <div class="form-group">
          <label class="form-switch">
            <input type="checkbox" formControlName="playerVisible" />
            <i class="form-icon"></i> Item is visible to players
          </label>
        </div>

        <!-- Tags -->
        <label class="form-label">Tags</label>
        <dd-tag-editor [formGroup]="formGroup"></dd-tag-editor>
      </div>
    </div>
  </div>
</div>
