<dd-modal #editmodal *ngIf="editable">
  <div modal-header>Edit Health</div>
  <div modal-body>
    <form class="mb-2" (ngSubmit)="submitEdit()">
      <div class="form-group">
        <label class="form-label" for="operation">HP</label>
        <input
          type="tel"
          name="operation"
          id="operation"
          placeholder="HP"
          [formControl]="operationControl"
          class="form-input"
          #hpinput
        />
      </div>
    </form>

    <!-- Bar Preview -->
    <dd-health-display
      [editable]="false"
      [health]="hpAfterOperation"
      [disableAnimation]="true"
      [preset]="preset"
    ></dd-health-display>

    <!-- Slider for quick controls -->
    <input
      class="slider mt-1"
      type="range"
      min="0"
      name="hp-slider"
      (change)="onSliderChange($event)"
      [max]="health.max"
      [formControl]="sliderControl"
    />
  </div>
  <div modal-footer>
    <button class="btn" (click)="editmodal.close(null)">Cancel</button>
    <button class="btn btn-primary ml-2" (click)="submitEdit()">Save</button>
  </div>
</dd-modal>

<div
  class="bar h-100"
  (click)="editHP()"
  [ngClass]="{ 'c-hand': editable }"
  *ngFor="let bar of bars; trackBy: trackBarElement"
>
  <div
    class="bar-item d-flex align-items-center justify-content-center"
    [ngClass]="{ 'bar-animated': !disableAnimation, 'p-1': !mini }"
    [style.width]="bar.percentCSS"
    [style.backgroundColor]="bar.colorCSS"
  >
    <h5 class="mb-1 text-bold" *ngIf="hpPercent > 50 && !mini">
      {{ bar.current }} / {{ bar.max }}
    </h5>
    <h5
      class="mb-1 text-bold"
      *ngIf="hpPercent <= 50 && !mini"
      style="opacity: 0;"
    >
      .
    </h5>
    <div *ngIf="hpPercent > 50 && mini">{{ bar.current }} / {{ bar.max }}</div>
    <div *ngIf="hpPercent <= 50 && mini" style="opacity: 0;">
      .
    </div>
  </div>

  <!-- Extras container -->
  <div
    class="d-flex justify-content-center align-items-center p-1"
    *ngIf="hpPercent <= 50 && !mini"
  >
    <h5 class="mb-1 text-bold">{{ bar.current }} / {{ bar.max }}</h5>
  </div>
  <div
    class="d-flex justify-content-center align-items-center pl-1"
    *ngIf="hpPercent <= 50 && mini"
  >
    <div>{{ bar.current }} / {{ bar.max }}</div>
  </div>
</div>
