<dd-modal #editmodal *ngIf="editable">
  <div modal-header>Edit Health</div>
  <div modal-body>
    <form class="mb-2" (ngSubmit)="submitEdit()">
      <div class="form-group">
        <label class="form-label" for="operation">HP</label>
        <input
          type="tel"
          name="operation"
          id="operation"
          placeholder="HP"
          [formControl]="operationControl"
          class="form-input"
          #hpinput
        />
      </div>
    </form>

    <dd-health-display
      [editable]="false"
      [health]="hpAfterOperation"
    ></dd-health-display>

    <table class="table">
      <thead>
        <tr>
          <th>Operation</th>
          <th>Effect</th>
          <th>Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Add</td>
          <td>Adds the amount to the hp</td>
          <td>+30</td>
        </tr>
        <tr>
          <td>Subtract</td>
          <td>Subtracts the amount from the hp</td>
          <td>-7</td>
        </tr>
        <tr>
          <td>Divide</td>
          <td>Divides the current hp by the amount</td>
          <td>/2</td>
        </tr>
        <tr>
          <td>Multiply</td>
          <td>Multiplies the current hp by the amount</td>
          <td>*2</td>
        </tr>
        <tr>
          <td>Fill</td>
          <td>Fills up to max hp</td>
          <td>++</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div modal-footer>
    <button class="btn" (click)="editmodal.close(null)">Cancel</button>
    <button class="btn btn-primary ml-2" (click)="submitEdit()">Save</button>
  </div>
</dd-modal>

<div
  class="bar"
  (click)="editHP()"
  [ngClass]="{ 'c-hand': editable }"
  *ngFor="let bar of bars"
>
  <div class="bar-item d-flex" [style.width]="bar.percentCSS">
    <span class="text-bold">{{ bar.current }} / {{ bar.max }}</span>
  </div>
</div>
