<div class="container grid-xl">
  <div class="columns">
    <div class="column"><h3>Quests</h3></div>
    <div class="column col-auto col-ml-auto">
      <button class="btn btn-sm" (click)="addQuest()" *ngIf="editable">
        <i class="icon icon-plus"></i>
        <span class="hide-sm"> Add Quest</span>
      </button>
    </div>
  </div>
  <div class="loading loading-lg" *ngIf="loading"></div>

  <!-- Empty State -->
  <div class="empty" *ngIf="quests && quests.length === 0">
    <div class="empty-icon"><i class="icon icon-search icon-4x"></i></div>
    <p class="empty-title h5">There are no quests here</p>
    <p class="empty-subtitle" *ngIf="editable">
      Click the button to create one.
    </p>
    <div class="empty-action">
      <button class="btn btn-primary" (click)="addQuest()" *ngIf="editable">
        Create Quest
      </button>
    </div>
  </div>

  <!-- Quest List -->
  <div *ngIf="quests">
    <div
      class="card p-2 mb-2 hoverable"
      *ngFor="let quest of quests"
      (click)="viewQuest(quest)"
    >
      <div class="columns col-gapless">
        <div class="column col-auto mr-1" *ngIf="quest.active">
          <i class="icon icon-flag"></i>
        </div>
        <div class="column">
          <span [ngClass]="{ 'text-gray': !quest.visible }">
            {{ quest.name }}
          </span>

          <!-- Label if unavailable -->
          <span class="label label-rounded" *ngIf="!quest.available"
            >Unavailable</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
