<div class="table table-striped" [ngClass]="{ 'table-hover': editable }">
  <thead>
    <tr>
      <th class="w-100">Minor Attributes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass]="{ 'c-hand': editable }" *ngFor="let f of fields; trackBy: trackField" (click)="editField(f)">
      <td class="no-select py-0">
        <figure class="avatar avatar-xs" *ngIf="f.config && f.config.imageId">
          <img src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{ f.config.imageId }}" />
        </figure>
        {{ f.field.name }}
      </td>
      <td class="text-bold py-0 text-right">{{ f.field.value }}</td>
    </tr>
  </tbody>
</div>
