<div
  class="modal"
  id="modal-parent"
  [ngClass]="{
    active: isOpen,
    'modal-sm': size === 'small',
    'modal-lg': size === 'large'
  }"
>
  <a (click)="userClose(null)" class="modal-overlay" aria-label="Close"></a>
  <div class="modal-container" cdkDragBoundary="#modal-parent" cdkDrag [cdkDragDisabled]="size === 'small' || size === 'large'">
    <div class="modal-header p-2">
      <i
        class="icon icon-resize-vert c-move float-left mt-1"
        style="margin-left: -1rem;"
        cdkDragHandle
        *ngIf="size !== 'small' && size !== 'large'"
      ></i>
      <a (click)="userClose(null)" class="btn btn-clear float-right" aria-label="Close" *ngIf="!codeOnly"></a>
      <ng-content select="[modal-header]"></ng-content>
    </div>
    <div class="modal-body p-2">
      <div class="content"><ng-content select="[modal-body]"></ng-content></div>
    </div>
    <div class="modal-footer px-2 pt-2">
      <ng-content select="[modal-footer]"></ng-content>
    </div>
  </div>
</div>
