<div class="container grid-xl mt-2">
  <div class="columns col-oneline">
    <!-- Title -->
    <div class="column col-auto"><h3>Items</h3></div>

    <div class="column" *ngIf="editable">
      <button class="btn btn-sm mt-1" (click)="addItem()">
        <i class="icon icon-plus"></i> Create Item
      </button>
    </div>

    <!-- Search -->
    <div class="column col-6 col-ml-auto">
      <div class="has-icon-left">
        <input
          class="form-input"
          type="text"
          name="search"
          id="search"
          placeholder="Search"
          [formControl]="searchControl"
        />
        <i class="form-icon icon icon-search" *ngIf="!loading"></i>
        <div class="form-icon loading" *ngIf="loading && items"></div>
      </div>
    </div>
  </div>
  <div class="loading loading-lg" *ngIf="loading && !items"></div>

  <div *ngIf="items">
    <!-- No Items at all -->
    <div class="empty" *ngIf="items.length === 0 && !search">
      <div class="empty-icon"><i class="icon icon-search icon-4x"></i></div>
      <p class="empty-title h5">There are no items</p>
      <p class="empty-subtitle" *ngIf="editable">
        Click the button to create one
      </p>
      <div class="empty-action">
        <button class="btn btn-primary" (click)="addItem()" *ngIf="editable">
          Create Item
        </button>
      </div>
    </div>

    <!-- No Items from search -->
    <div class="empty" *ngIf="items.length === 0 && search">
      <div class="empty-icon"><i class="icon icon-search icon-4x"></i></div>
      <p class="empty-title h5">Your search returned nothing :(</p>
    </div>

    <div *ngFor="let item of items">
      <dd-item-view-list
        [item]="item"
        (click)="selectItem(item)"
      ></dd-item-view-list>
    </div>

    <dd-paginator
      [totalItems]="totalItemCount"
      [itemsPerPage]="queryLimit"
      [page]="page"
      (pageChange)="page = $event"
    ></dd-paginator>
  </div>
</div>
