<div class="container grid-xl">
  <!-- Form -->
  <form (ngSubmit)="submit()" [formGroup]="formGroup">
    <div class="columns">
      <div class="column">
        <h3>{{ editing ? 'Edit' : 'Create' }} Quest</h3>
      </div>
      <div class="column col-auto col-ml-auto">
        <button class="btn mr-2" type="button" (click)="cancel()">
          Cancel
        </button>
        <button
          class="btn btn-error mr-2"
          [ngClass]="{ loading: deleting }"
          type="button"
          *ngIf="editing"
          (click)="delete()"
        >
          Delete
        </button>
        <button class="btn btn-primary" [disabled]="formGroup.invalid">
          Save
        </button>
      </div>
    </div>

    <div
      class="form-group"
      [ngClass]="{
        'has-error': name.invalid && (name.dirty || name.touched),
        'has-success': name.valid
      }"
    >
      <label class="form-label label-lg" for="name">Name</label>
      <input
        class="form-input input-lg"
        formControlName="name"
        type="text"
        id="name"
        placeholder="Name"
      />
      <p
        class="form-input-hint"
        *ngIf="
          name.invalid && (name.dirty || name.touched) && name.errors.required
        "
      >
        The quest needs a name
      </p>
      <p
        class="form-input-hint"
        *ngIf="
          name.invalid && (name.dirty || name.touched) && name.errors.minlength
        "
      >
        The name is too short
      </p>
      <p
        class="form-input-hint"
        *ngIf="
          name.invalid && (name.dirty || name.touched) && name.errors.maxlength
        "
      >
        The name can't be more than 30 characters long
      </p>
    </div>

    <!-- Description -->
    <div class="form-group">
      <label class="form-label" for="item-description">Description</label>
      <dd-quill placeholder="Do Quest" formControlName="content"></dd-quill>
    </div>

    <!-- Accepted -->
    <div class="form-group">
      <label for="accepted" class="form-switch">
        <input
          type="checkbox"
          name="accepted"
          id="accepted"
          formControlName="accepted"
        />
        <i class="form-icon"></i> The players have accepted this quest
      </label>
    </div>

    <!-- Available -->
    <div class="form-group">
      <label for="available" class="form-switch">
        <input
          type="checkbox"
          name="available"
          id="available"
          formControlName="available"
        />
        <i class="form-icon"></i> This quest is available for players to accept
      </label>
    </div>

    <!-- Visible -->
    <div class="form-group">
      <label for="visible" class="form-switch">
        <input
          type="checkbox"
          name="visible"
          id="visible"
          formControlName="visible"
        />
        <i class="form-icon"></i> Players can see this quest
      </label>
    </div>

    <!-- Status -->
    <div class="form-group">
      <label for="status" class="form-label">
        Status
      </label>
      <select
        name="status"
        id="status"
        class="form-input"
        formControlName="status"
      >
        <option value="0">None</option>
        <option value="1">On Hold</option>
        <option value="2">In Progress</option>
        <option value="3">To Do</option>
      </select>
    </div>
  </form>
</div>
