<div class="container grid-xl">
  <!-- Form -->
  <form (ngSubmit)="submit()" [formGroup]="formGroup">
    <div class="columns">
      <div class="column">
        <h3>{{ editing ? 'Edit' : 'Create' }} Quest</h3>
      </div>
      <div class="column col-auto col-ml-auto">
        <button class="btn btn-error mx-2" type="button" *ngIf="editing">Delete</button>
        <button class="btn btn-primary" [disabled]="formGroup.invalid">Save</button>
      </div>
    </div>

    <div
      class="form-group"
      [ngClass]="{
        'has-error': name.invalid && (name.dirty || name.touched),
        'has-success': name.valid
      }"
    >
      <label class="form-label label-lg" for="name">Name</label>
      <input class="form-input input-lg" formControlName="name" type="text" id="name" placeholder="Name" />
      <p class="form-input-hint" *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.required">
        The quest needs a name
      </p>
      <p class="form-input-hint" *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.minlength">
        The name is too short
      </p>
      <p class="form-input-hint" *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.maxlength">
        The name can't be more than 30 characters long
      </p>
    </div>

    <!-- Description -->
    <div
      class="form-group"
      [ngClass]="{
        'has-error': description.invalid && (description.touched || description.dirty),
        'has-success': description.valid
      }"
    >
      <label class="form-label" for="item-description">Description</label>
      <textarea
        class="form-input"
        formControlName="description"
        id="item-description"
        rows="5"
        placeholder="Description"
      ></textarea>
      <p class="form-input-hint mb-1">
        Descriptions can use
        <a
          href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"
          target="_blank"
          rel="noopener noreferrer"
          >Markdown</a
        >
        styles
      </p>
      <p
        class="form-input-hint"
        *ngIf="description.invalid && (description.touched || description.dirty) && description.errors.required"
      >
        The quest needs a description
      </p>
    </div>

    <!-- Visible -->
    <div class="form-group">
      <label for="visible" class="form-switch">
        <input type="checkbox" name="visible" id="visible" formControlName="visible" /> <i class="form-icon"></i> This
        quest is visible to players
      </label>
    </div>

    <!-- Active -->
    <div class="form-group">
      <label for="active" class="form-switch">
        <input type="checkbox" name="active" id="active" formControlName="active" /> <i class="form-icon"></i> This
        quest is marked as active
      </label>
    </div>
  </form>
</div>
