<div class="container grid-xl">
  <div class="loading loading-lg" *ngIf="loading"></div>

  <div class="columns col-oneline">
    <div class="column">
      <a class="btn" [routerLink]="['../..']"
        ><i class="icon icon-arrow-left"></i> Back</a
      >
    </div>
    <div class="column col-ml-auto col-auto">
      <button class="btn btn-error mr-2" [disabled]="saving" (click)="delete()">
        Delete
      </button>
      <button
        class="btn"
        [disabled]="!valid || saving"
        (click)="save()"
        [ngClass]="{ loading: saving }"
      >
        Save
      </button>
    </div>
  </div>
  <hr />
  <dd-item-form *ngIf="item" [inputItem]="item" #iform></dd-item-form>
</div>
