<div class="form-autocomplete">
  <!-- autocomplete input container -->
  <div
    class="form-autocomplete-input form-input search-cursor"
    [ngClass]="{ 'is-focused': focused === true }"
    (click)="focusInput()"
  >
    <div [ngClass]="{ 'has-icon-left': loading }">
      <!-- autocomplete real input box -->
      <input
        class="form-input"
        type="text"
        [formControl]="control"
        [placeholder]="placeholderText"
        (focus)="focus(true)"
        (focusout)="focus(false)"
        #input
      />
      <i class="form-icon loading" *ngIf="loading"></i>
    </div>
  </div>

  <div class="menu-overlay" *ngIf="menuShown" (click)="closeMenu()"></div>
  <!-- autocomplete suggestion list -->
  <ul class="menu" *ngIf="menuShown">
    <div class="empty p-2" *ngIf="items.length === 0">
      <p class="empty-title h5">Your search returned no results</p>
    </div>
    <!-- menu list items -->
    <li class="menu-item" *ngFor="let item of items; trackBy: trackItem">
      <span (click)="select(item)" [innerHTML]="createItem(item)">
        {{ item.value }}
      </span>
    </li>
  </ul>
</div>
