<dd-confirmation-modal #confirmmodal></dd-confirmation-modal>
<dd-modal #presets>
  <div modal-header>
    <h4>Attribute Presets</h4>
  </div>
  <div modal-body>
    <div class="card p-1 mb-1 hoverable" (click)="usePreset(p)" *ngFor="let p of presetList">
      {{ p.name }} <span class="text-gray">{{ p.description }}</span>
    </div>
  </div>
</dd-modal>

<div class="container grid-xl" [formGroup]="formGroup" *ngIf="entityPreset || !editing">
  <div class="columns">
    <div class="column">
      <h3 *ngIf="!editing">Create Entity Preset</h3>
      <h3 *ngIf="editing">Edit Entity Preset</h3>
    </div>
    <div class="column col-auto col-ml-auto">
      <button class="btn btn-error mr-2" (click)="delete()" *ngIf="editing" [ngClass]="{ loading: deleting }">
        Delete
      </button>
      <button class="btn" (click)="save()" [ngClass]="{ loading: saving }" [disabled]="formGroup.invalid">
        Save
      </button>
    </div>
  </div>

  <div class="columns">
    <!-- Image Upload -->
    <div class="column col-3 col-md-5 col-sm-12 col-mx-auto">
      <label class="form-label">Icon</label>
      <dd-image-upload formControlName="imageId"></dd-image-upload>
    </div>

    <div class="column col-9 col-md-12">
      <!-- Name -->
      <div class="form-group" [ngClass]="{
          'has-error': name.invalid && (name.dirty || name.touched)
        }">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" id="name" formControlName="name" class="form-input" placeholder="Name" />
        <p class="form-input-hint" *ngIf="name.invalid && name.dirty && name.errors.required">
          A name is required
        </p>
        <p class="form-input-hint" *ngIf="name.invalid && name.dirty && name.errors.minlength">
          Name should not have less than 3 characters
        </p>
        <p class="form-input-hint" *ngIf="name.invalid && name.dirty && name.errors.maxlength">
          Name should not have more than 30 characters
        </p>
      </div>

      <!-- Description -->
      <div class="form-group" [ngClass]="{
          'has-error':
            description.invalid && (description.dirty || description.touched)
        }">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-input" name="description" id="description" rows="4" formControlName="description"
          placeholder="Description"></textarea>
        <p class="form-input-hint" *ngIf="
            description.invalid &&
            description.dirty &&
            description.errors.required
          ">
          A description is required
        </p>
        <p class="form-input-hint" *ngIf="
            description.invalid &&
            description.dirty &&
            description.errors.minlength
          ">
          The description should not have less than 3 characters
        </p>
      </div>
    </div>

    <div class="column col-12">
      <h5 class="mt-2">Misc</h5>
      <!-- Misc Options -->
      <div class="columns">
        <div class="column">
          <!-- Player Creatable -->
          <div class="form-group">
            <label class="form-checkbox">
              <input type="checkbox" formControlName="playerCreatable" />
              <i class="form-icon"></i> Players can create this type of entity
            </label>
          </div>

          <!-- Inventory Enabled -->
          <div class="form-group">
            <label class="form-checkbox">
              <input type="checkbox" formControlName="isInventoryEnabled" />
              <i class="form-icon"></i> This entity type can have an inventory
            </label>
          </div>

          <!-- Spellsets Enabled -->
          <div class="form-group">
            <label class="form-checkbox">
              <input type="checkbox" formControlName="isSpellsetsEnabled" />
              <i class="form-icon"></i> This entity type can have spells
            </label>
          </div>

          <!-- Currency Enabled -->
          <div class="form-group">
            <label class="form-checkbox">
              <input type="checkbox" formControlName="isCurrencyEnabled" />
              <i class="form-icon"></i> This entity can have gold
            </label>
          </div>

          <!-- XP Enabled -->
          <div class="form-group">
            <label class="form-checkbox">
              <input type="checkbox" formControlName="isXPEnabled" />
              <i class="form-icon"></i> This entity can have XP
            </label>
          </div>

          <!-- Health Enabled -->
          <div class="form-group">
            <label class="form-checkbox">
              <input type="checkbox" formControlName="isHealthEnabled" />
              <i class="form-icon"></i> This entity can have health
            </label>
          </div>

          <!-- Concept Types Enabled -->
          <div class="form-group">
            <label for="conceptTypesEnabled" class="form-label">Concept Types</label>
            <select name="conceptTypesEnabled" id="conceptTypesEnabled" class="form-select"
              formControlName="conceptTypesEnabled" multiple>
              <option *ngFor="let ct of conceptTypeList" [value]="ct.id">{{ ct.name }}</option>
            </select>
            <div class="form-input-hint">The entity will have these concept types enabled</div>
          </div>
        </div>
      </div>

      <!-- Health -->
      <div formGroupName="health" class="columns mb-2" *ngIf="isHealthEnabled.value === true">
        <div class="column">
          <div class="form-group">
            <label for="health-type" class="form-label">Health Type</label>
            <select name="health-type" id="health-type" class="form-input" formControlName="type">
              <option value="0">Normal</option>
              <option value="1" disabled>Multi Bar (Coming Soon)</option>
            </select>
          </div>
        </div>

        <div class="column">
          <div class="form-group">
            <label for="bar-type" class="form-label">HP Bar Type</label>
            <select formControlName="colorType" name="bar-type" id="bar-type" class="form-input">
              <option value="0">Dynamic</option>
              <option value="1">Static</option>
            </select>
          </div>
        </div>

        <div class="column" *ngIf="hpColorType.value === '1' || hpColorType.value === 1">
          <!-- Bar Color -->
          <div class="form-group">
            <label for="bar-color" class="form-label">Bar Color</label>
            <input formControlName="staticColor" type="color" name="bar-color" id="bar-color" class="form-input" />
          </div>
        </div>

        <div class="column">
          <div class="form-group">
            <label class="form-label">Visibility</label>
            <label class="form-checkbox">
              <input type="checkbox" formControlName="amountHidden" />
              <i class="form-icon"></i> Hide amount for players
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Attributes -->
  <div>
    <div class="columns">
      <div class="column">
        <h5 class="mt-2">Attributes</h5>
      </div>
      <div class="column col-auto">
        <button class="btn btn-sm mr-2" (click)="presets.open()">
          Use Preset
        </button>
        <button class="btn btn-sm" (click)="addAttribute()">
          <i class="icon icon-plus"></i> Add Attribute
        </button>
      </div>
    </div>

    <!-- Attribute Array -->
    <div>
      <dd-entity-attribute-row-editor *ngFor="let attr of attributeControls; let i = index"
        (remove)="removeAttribute(i)" [formGroup]="attr" #atteditor></dd-entity-attribute-row-editor>
    </div>
  </div>

  <div class="text-center">
    <button class="btn btn-link" (click)="backToTop()">Back to Top</button>
  </div>
</div>