<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/froala-editor@2.9.3/css/froala_style.min.css"
  integrity="sha256-cYYpk9qpebCK+HmvWrgBP5taXVBEwUA8kHD2uxvbQOs="
  crossorigin="anonymous"
/>

<div class="container grid-xl">
  <div class="loading loading-lg" *ngIf="loading"></div>

  <!-- Display -->
  <div *ngIf="article">
    <div class="columns">
      <!-- Name -->
      <div class="column">
        <h3>{{ article.name }}</h3>
      </div>

      <div class="column col-auto">
        <!-- View On Map -->
        <div
          class="c-hand d-inline mr-2"
          *ngIf="article.mapId !== null"
          (click)="viewOnMap()"
        >
          Location <i class="icon icon-location"></i>
        </div>

        <button class="btn btn-sm" (click)="edit()" *ngIf="editable">
          Edit
        </button>
      </div>
    </div>

    <!-- Article Content -->
    <!-- <div [froalaView]="article.text"></div> -->
    <div
      class="fr-view"
      [p3x-compile]="article.text"
      [p3x-compile-ctx]="this"
    ></div>
  </div>
</div>
