<div class="container grid-lg">
  <div class="loading loading-lg" *ngIf="loading"></div>

  <!-- Display -->
  <div *ngIf="article">
    <div class="columns">
      <!-- Name -->
      <div class="column">
        <h3>{{ article.name }}</h3>
      </div>

      <div class="column col-auto">
        <!-- View On Map -->
        <button
          class="btn btn-sm mr-2"
          *ngIf="article.mapId !== null"
          (click)="viewOnMap()"
        >
          <i class="icon icon-location"></i>
          <span class="hide-sm"> Map</span>
        </button>

        <button class="btn btn-sm" (click)="edit()" *ngIf="editable">
          <i class="icon icon-edit"></i><span class="hide-sm"> Edit</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Article Content -->
  <div #contentcontainer></div>
</div>
