<div class="bg-secondary" *ngIf="!hidden">
  <div class="container grid-xl text-center footer-container">
    👌 DD
    <!-- Update Connection Status -->
    <div class="connection-status text-center">
      <div [ngSwitch]="connectionStatus" class="mt-2">
        <div *ngSwitchCase="0" class="label label-secondary">Not Connected</div>
        <div *ngSwitchCase="1" class="label label-secondary">Connected</div>
        <div *ngSwitchCase="2" class="label label-secondary">Disconnected</div>
        <div *ngSwitchCase="3" class="label label-secondary">
          Connecting ...
        </div>
        <div *ngSwitchCase="4" class="label label-secondary">Authenticating</div>
      </div>
    </div>
  </div>
</div>
