@import '../../variables.scss';

.map {
  z-index: 100;
}

@media all and (min-width: $size-md) {
  .map {
    height: 800px;
  }
}

@media all and (max-width: $size-md) {
  .map {
    height: 400px;
  }
}
