@import '../../variables.scss';

#drop-area {
  border: 2px dashed $primary-color;
  border-radius: $border-width-lg;

  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

#drop-area.drag-over {
  cursor: pointer;
  background: $secondary-color;
}

#file-input {
  display: none;
}

.image-preview {
  height: 10vh;
}
