<div class="p-2" id="drop-area" [ngClass]="{ 'drag-over': isDragOver }" #fupload>
  <input type="file" id="file-input" accept="image/*" (change)="onFileChange($event)" />
  <label class="btn text-ellipsis" for="file-input">
    <span *ngIf="file === null">Upload Image</span> <span *ngIf="file !== null">{{ file.name }}</span>
  </label>
  <div class="bar bar-sm" *ngIf="isUploading">
    <div class="bar-item" role="progressbar" [style.width]="uploadProgress + '%'"></div>
  </div>
  <img class="image-preview" *ngIf="imagePreviewURL !== null" [src]="imagePreviewURL" />
</div>
<div class="toast toast-error" *ngIf="fileError !== null">
  <button class="btn btn-clear float-right" (click)="clearError()"></button> {{ fileError }}
</div>
