<dd-modal #modal>
  <div modal-header *ngIf="config && control">
    <div class="modal-title">Edit {{ config.name }}</div>
  </div>

  <div modal-body *ngIf="config && control">
    <form (ngSubmit)="ok()" #attrForm="ngForm">
      <dd-dynamic-field [control]="control" [config]="config" showLabel="false"></dd-dynamic-field>

      <!-- Modifiers -->
      <div *ngIf="modifiers && modifiersGroup">
        <dd-dynamic-field
          [control]="modifiersGroup.get(m.config.name)"
          [config]="m.config"
          showLabel="false"
          *ngFor="let m of modifiers; trackBy: trackModifier"
        ></dd-dynamic-field>
      </div>
    </form>
  </div>

  <div modal-footer *ngIf="config && control">
    <button class="btn btn-primary mr-2" (click)="cancel()">Cancel</button>
    <button class="btn" (click)="ok()" [disabled]="control.invalid">
      Save
    </button>
  </div>
</dd-modal>
