<dd-modal #modal>
  <div modal-header *ngIf="attribute && control">
    <div class="modal-title">Edit {{ attribute.name }}</div>
  </div>

  <div modal-body *ngIf="attribute && control">
    <form (ngSubmit)="ok()" #attrForm="ngForm">
      <dd-dynamic-field
        [control]="control"
        [attribute]="attribute"
      ></dd-dynamic-field>
    </form>
  </div>

  <div modal-footer *ngIf="attribute && control">
    <button class="btn btn-primary mr-2" (click)="cancel()">Cancel</button>
    <button class="btn" (click)="ok()" [disabled]="control.invalid">
      Save
    </button>
  </div>
</dd-modal>
