<div class="container grid-xl">
  <div class="loading loading-lg" *ngIf="loading"></div>

  <div *ngIf="item">
    <div class="columns">
      <div class="column col-auto">
        <img
          class="s-rounded"
          width="64"
          src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{
            item.imageId
          }}.jpg"
          alt="Item Picture"
        />
      </div>
      <div class="column">
        <h2 class="mb-0">{{ item.name }}</h2>
        <span class="text-gray text-italic" *ngIf="rarity"
          >{{ rarity.name }} • {{ item.weight }}kg • {{ item.cost }}gp</span
        >
        <a class="ml-2 c-hand" (click)="edit()" *ngIf="editable">Edit</a>
      </div>
    </div>

    <div class="columns mt-2">
      <div class="column col-4 hide-md">
        <img
          class="img-responsive s-rounded"
          src="https://res.cloudinary.com/dqhk8k6iv/image/upload/w_500,q_auto:good,f_auto/{{
            item.imageId
          }}"
          [alt]="'picture of' + item.name"
        />
      </div>
      <div class="column col-8 col-md-12">
        <p>{{ item.description }}</p>

        <!-- Tags -->
        <div *ngIf="item.tags">
          <div
            class="label label-rounded mr-1 mb-1"
            *ngFor="let t of item.tags"
          >
            {{ t }}
          </div>
        </div>
      </div>
      <div class="column col-md-8 col-xs-11 col-mx-auto show-md mt-2">
        <img
          class="img-responsive s-rounded"
          src="https://res.cloudinary.com/dqhk8k6iv/image/upload/w_500,q_auto:good,f_auto/{{
            item.imageId
          }}"
          [alt]="'picture of' + item.name"
        />
      </div>
    </div>
  </div>
</div>
