<dd-editable-entity-selector #entityselect></dd-editable-entity-selector>

<div class="container grid-xl">
  <div class="loading loading-lg" *ngIf="loading"></div>

  <div *ngIf="item">
    <!-- Item Header -->
    <div class="columns">
      <div class="column col-auto">
        <img
          class="s-rounded"
          width="64"
          src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{
            item.imageId
          }}"
          *ngIf="item.imageId"
          alt="Item Picture"
        />
        <img
          class="s-rounded"
          width="64"
          src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/item-default"
          *ngIf="!item.imageId"
          alt="Item Fallback Picture"
        />
      </div>
      <div class="column">
        <h2 class="mb-0">{{ item.name }}</h2>
        <div class="text-gray text-italic" *ngIf="rarity">
          <span class="text-bold" [style.color]="rarity.color">{{
            rarity.name
          }}</span>
          • <span class="text-bold">{{ weight }}</span> •
          <span class="text-bold text-warning">{{ item.cost }}</span
          >gp

          <span *ngIf="editable"
            >•<a class="ml-2 c-hand" (click)="edit()">Edit</a></span
          >

          <span *ngIf="canAddToInventory">
            •<a class="ml-2 c-hand" (click)="addToInventory()"
              >Add to Inventory</a
            ></span
          >
        </div>
      </div>
    </div>

    <!-- Item Body -->
    <div class="columns mt-2">
      <div class="column col-4 hide-md" *ngIf="item.imageId">
        <img
          class="img-responsive s-rounded"
          src="https://res.cloudinary.com/dqhk8k6iv/image/upload/w_500,q_auto:good,f_auto/{{
            item.imageId
          }}"
          [alt]="'picture of' + item.name"
        />
      </div>
      <div class="column col-8 col-md-12">
        <markdown [data]="item.description"></markdown>

        <!-- Tags -->
        <div *ngIf="item.tags">
          <div
            class="label label-rounded mr-1 mb-1"
            *ngFor="let t of item.tags"
          >
            {{ t }}
          </div>
        </div>
      </div>
      <div
        class="column col-md-8 col-xs-11 col-mx-auto show-md mt-2"
        *ngIf="item.imageId"
      >
        <img
          class="img-responsive s-rounded"
          src="https://res.cloudinary.com/dqhk8k6iv/image/upload/w_500,q_auto:good,f_auto/{{
            item.imageId
          }}"
          [alt]="'picture of' + item.name"
        />
      </div>
    </div>
  </div>
</div>
