<dd-exporter #exporter></dd-exporter>
<div class="container grid-xl" *ngIf="campaign || !editing">
  <!-- Header -->
  <div class="columns">
    <div class="column"><h2>Settings</h2></div>
    <div class="column col-auto col-ml-auto">
      <button class="btn mr-2" (click)="cancel()">Cancel</button>

      <button
        class="btn btn-primary"
        [disabled]="formGroup.invalid || formGroup.pristine"
        (click)="save()"
        [ngClass]="{ loading: saving }"
      >
        Save
      </button>
    </div>
  </div>

  <h3>General Settings</h3>
  <dd-campaign-form
    [campaign]="campaign"
    [formGroup]="formGroup"
    [includeImage]="editing"
  ></dd-campaign-form>

  <div class="divider my-2"></div>

  <!-- Experience Table -->
  <div class="columns mt-2">
    <div class="column"><h3 class="mb-0">Experience Table</h3></div>
    <div class="column col-auto col-ml-auto">
      <button
        class="btn btn-sm"
        *ngIf="!expandXPTable"
        (click)="expandXPTable = !expandXPTable"
      >
        Expand <i class="icon icon-arrow-down"></i>
      </button>
      <button
        class="btn btn-sm"
        *ngIf="expandXPTable"
        (click)="expandXPTable = !expandXPTable"
      >
        Collapse <i class="icon icon-arrow-up"></i>
      </button>
    </div>
  </div>
  <span class="text-gray" *ngIf="expandXPTable"
    >This is the experience table. This will determine entities' levels based on
    the amount of XP they have. For example, if level 2 was set to 30 XP, an
    entity would be level 2 when they reach 30 or above XP.</span
  >
  <dd-experience-table-editor
    [campaign]="campaign"
    [formGroup]="formGroup"
    [hidden]="!expandXPTable"
  ></dd-experience-table-editor>

  <div class="divider my-2"></div>

  <!-- Item Rarity Table -->
  <div class="columns mt-2">
    <div class="column"><h3 class="mb-0">Item Rarity Table</h3></div>
    <div class="column col-auto col-ml-auto">
      <button
        class="btn btn-sm"
        (click)="expandItemRarityTable = !expandItemRarityTable"
      >
        <span *ngIf="expandItemRarityTable"
          >Collapse <i class="icon icon-arrow-up"></i
        ></span>
        <span *ngIf="!expandItemRarityTable"
          >Expand <i class="icon icon-arrow-down"></i
        ></span>
      </button>
    </div>
  </div>
  <dd-item-rarity-table-editor
    [hidden]="!expandItemRarityTable"
    [campaign]="campaign"
    [formGroup]="formGroup"
  ></dd-item-rarity-table-editor>

  <div class="divider my-2"></div>

  <div class="columns mt-2">
    <div class="column"><h3 class="mb-0">Currency Map</h3></div>
    <div class="column col-auto col-ml-auto">
      <button
        class="btn btn-sm"
        (click)="expandCurrencyMapEditor = !expandCurrencyMapEditor"
      >
        <span *ngIf="expandCurrencyMapEditor"
          >Collapse <i class="icon icon-arrow-up"></i
        ></span>
        <span *ngIf="!expandCurrencyMapEditor"
          >Expand <i class="icon icon-arrow-down"></i
        ></span>
      </button>
    </div>
  </div>
  <dd-currency-map-editor
    [hidden]="!expandCurrencyMapEditor"
    [formGroup]="formGroup"
    [campaign]="campaign"
  ></dd-currency-map-editor>

  <div class="divider my-2"></div>

  <!-- Entity Types -->
  <div class="columns mt-2" *ngIf="editing">
    <div class="column"><h3>Entity Types</h3></div>
    <div class="column col-auto">
      <button class="btn btn-sm" (click)="createEntityPreset()">
        <i class="icon icon-plus"></i
        ><span class="hide-sm"> New Entity Type</span>
      </button>
    </div>
  </div>
  <div class="empty" *ngIf="editing && campaign.entityPresets.length === 0">
    <div class="empty-icon"><i class="icon icon-search icon-4x"></i></div>
    <p class="empty-title h5">There are no entity presets :(</p>
    <p class="empty-subtitle">Click the button to create one</p>
    <div class="empty-action">
      <button class="btn btn-primary" (click)="createEntityPreset()">
        Create Preset
      </button>
    </div>
  </div>
  <div *ngIf="editing">
    <div
      class="card p-2 mb-2 hoverable"
      *ngFor="let ep of campaign.entityPresets"
      (click)="selectEntityPreset(ep)"
    >
      <div class="columns">
        <div class="column col-auto" *ngIf="ep.imageId">
          <figure class="avatar avatar-lg">
            <img
              src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{
                ep.imageId
              }}"
            />
          </figure>
        </div>
        <div class="column">
          <h4 class="mb-1">{{ ep.name }}</h4>
          <span class="text-gray">{{ ep.description | truncate: 120 }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="divider my-2" *ngIf="editing"></div>

  <!-- Danger Options -->
  <div class="card p-2" *ngIf="editing">
    <div class="card-body">
      <h3 class="mb-2">Other Stuff</h3>

      <button class="btn btn-primary" (click)="export()">
        <i class="icon icon-download"></i> Export Data
      </button>

      <button class="btn btn-primary ml-2" disabled>
        <i class="icon icon-upload"></i> Import Data
      </button>
    </div>

    <div class="card-body">
      <h3 class="mb-2">Danger!</h3>

      <button class="btn btn-error" (click)="delete()" disabled>
        <i class="icon icon-cross"></i> Delete Campaign
      </button>
    </div>
  </div>
</div>
