<div class="container grid-xl" *ngIf="campaign">
  <!-- Header -->
  <div class="columns">
    <div class="column"><h2>Settings</h2></div>
    <div class="column col-auto col-ml-auto">
      <button class="btn" (click)="save()" [ngClass]="{ loading: saving }">Save</button>
    </div>
  </div>

  <!-- Entity Types -->
  <div class="columns">
    <div class="column"><h4>Entity Types</h4></div>
    <div class="column col-auto">
      <button class="btn btn-sm" (click)="createEntityPreset()" [ngClass]="{ loading: creatingEntityPreset }">
        <i class="icon icon-plus"></i> Create Entity Preset
      </button>
    </div>
  </div>
  <div>
    <div class="card p-2 mb-2 hoverable" *ngFor="let ep of campaign.entityPresets" (click)="selectEntityPreset(ep)">
      <div class="columns">
        <div class="column col-auto" *ngIf="ep.imageId">
          <figure class="avatar avatar-lg">
            <img src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{ ep.imageId }}.png" />
          </figure>
        </div>
        <div class="column">
          <h4 class="mb-1">{{ ep.name }}</h4>
          <span class="text-gray">{{ ep.description | truncate: 120 }}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Experience Table -->
  <div class="columns">
    <div class="column"><h3 class="mt-2 mb-0">Experience Table</h3></div>
    <div class="column col-auto col-ml-auto">
      <button class="btn btn-sm" *ngIf="!expandXPTable" (click)="expandXPTable = !expandXPTable">
        Expand <i class="icon icon-arrow-down"></i>
      </button>
      <button class="btn btn-sm" *ngIf="expandXPTable" (click)="expandXPTable = !expandXPTable">
        Collapse <i class="icon icon-arrow-up"></i>
      </button>
    </div>
  </div>
  <span class="text-gray" *ngIf="expandXPTable"
    >This is the experience table. This will determine entities' levels based on the amount of XP they have. For
    example, if level 2 was set to 30 XP, an entity would be level 2 when they reach 30 or above XP.</span
  >
  <dd-experience-table-editor
    [experienceTable]="campaign.experienceTable"
    *ngIf="expandXPTable"
  ></dd-experience-table-editor>
</div>
