<div
  class="form-group "
  [ngClass]="{
    'has-error': control.invalid && (control.dirty || control.touched),
    'has-success': control.valid && (control.dirty || control.touched)
  }"
>
  <div class="col-2 col-lg-3 col-sm-12">
    <label class="form-label"
      >{{ attribute.name }}
      <span *ngIf="attribute.required" class="text-primary text-large text-bold"
        >*</span
      ></label
    >
  </div>

  <div class="col-10 col-lg-9 col-md-12">
    <div>
      <div
        [ngClass]="{ 'has-icon-left': attribute.imageId }"
        [ngSwitch]="attribute.type"
      >
        <!-- Text Input -->
        <input
          type="text"
          name="attr"
          class="form-input"
          [placeholder]="attribute.name"
          [formControl]="control"
          *ngSwitchCase="0"
        />

        <!-- Number Input -->
        <input
          type="number"
          name="attr"
          class="form-input"
          [placeholder]="attribute.name"
          [formControl]="control"
          *ngSwitchCase="1"
        />

        <!-- Enum input -->
        <select
          class="form-input"
          name="attr"
          [formControl]="control"
          *ngSwitchCase="2"
        >
          <option *ngFor="let o of attribute.options" [value]="o">{{
            o
          }}</option>
        </select>

        <!-- Big Text Input -->
        <dd-quill
          *ngSwitchCase="3"
          [placeholder]="attribute.name"
          [formControl]="control"
          simple="true"
        ></dd-quill>

        <!-- Enum Multi input -->
        <select
          class="form-select"
          name="attr"
          [formControl]="control"
          multiple="true"
          *ngSwitchCase="4"
        >
          <option *ngFor="let o of attribute.options" [value]="o">{{
            o
          }}</option>
        </select>

        <figure class="form-icon avatar" *ngIf="attribute.imageId">
          <img
            src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{
              attribute.imageId
            }}"
          />
        </figure>
      </div>
      <p class="form-input-hint mb-0">{{ attribute.description }}</p>
      <p
        class="form-input-hint mb-1"
        *ngIf="
          control.invalid &&
          (control.dirty || control.touched) &&
          errors.required
        "
      >
        {{ attribute.name }} is required
      </p>
      <p
        class="form-input-hint mb-1"
        *ngIf="
          control.invalid && (control.dirty || control.touched) && errors.min
        "
      >
        {{ attribute.name }} can't be lower than {{ attribute.min }}
      </p>
      <p
        class="form-input-hint mb-1"
        *ngIf="
          control.invalid && (control.dirty || control.touched) && errors.max
        "
      >
        {{ attribute.name }} can't be higher than {{ attribute.max }}
      </p>
      <p
        class="form-input-hint mb-1"
        *ngIf="
          control.invalid &&
          (control.dirty || control.touched) &&
          errors.minlength
        "
      >
        {{ attribute.name }} cannot have less than
        {{ attribute.min }} characters
      </p>
      <p
        class="form-input-hint mb-1"
        *ngIf="
          control.invalid &&
          (control.dirty || control.touched) &&
          errors.maxlength
        "
      >
        {{ attribute.name }} cannot have more than
        {{ attribute.max }} characters
      </p>
    </div>
  </div>
</div>
