<div>
  <!-- Loading -->
  <div class="loading" *ngIf="loading"></div>

  <dd-autocomplete
    placeholder="Add Concept"
    [doSearch]="doConceptSearch"
    [createItem]="createAutocompleteItem"
    (selection)="conceptSelected($event)"
    *ngIf="editable"
  ></dd-autocomplete>

  <!-- Empty State -->
  <div class="empty mt-2 p-2" *ngIf="articleConcepts && articleConcepts.length === 0">
    <p class="empty-title h5">This article has no {{ conceptType.pluralForm }}</p>
  </div>

  <!-- Concept List -->
  <div>
    <dd-article-concept-manager-list-item
      [articleConcept]="ac"
      [editable]="editable"
      (remove)="remove(ac)"
      *ngFor="let ac of articleConcepts; trackBy: trackArticleConcept"
    ></dd-article-concept-manager-list-item>
  </div>
</div>
