<div
  class="form-group "
  [ngClass]="{
    'has-error': control.invalid && (control.dirty || control.touched),
    'has-success': control.valid && (control.dirty || control.touched)
  }"
>
  <label class="form-label" *ngIf="showLabel"
    >{{ fieldConfig.name }}
    <span
      *ngIf="fieldConfig.options.required"
      class="text-primary text-large text-bold"
      >*</span
    ></label
  >

  <dd-dynamic-input
    [control]="control"
    [config]="fieldConfig"
  ></dd-dynamic-input>
  <p class="form-input-hint mb-0" *ngIf="fieldConfig.description">
    {{ fieldConfig.description }}
  </p>
  <dd-dynamic-validation-errors
    [config]="fieldConfig"
    [control]="control"
  ></dd-dynamic-validation-errors>
</div>
