<dd-modal #picker *ngIf="conceptType">
  <h4 modal-header class="mb-0">Pick {{ conceptType.name }}</h4>
  <div modal-body>
    <!-- Search Bar -->
    <div class="has-icon-right">
      <input type="text" [formControl]="searchControl" class="form-input" placeholder="Search {{ conceptType.pluralForm }}" #searchbar />
      <i class="icon icon-search form-icon" *ngIf="!searchLoading"></i>
      <div class="loading form-icon" *ngIf="searchLoading"></div>
    </div>

    <!-- Search Results -->
    <div>
      <div class="card p-1 my-1 hoverable" *ngFor="let sr of searchResults; trackBy: trackConcept" (click)="picker.close(sr)">
        <dd-concept-list-item [concept]="sr" [imageSize]="25"></dd-concept-list-item>
      </div>
    </div>

    <!-- Empty State -->
    <div class="empty mt-2" *ngIf="searchResults && totalResults === 0 && searchControl.value !== ''">
      <div class="empty-icon">
        <i class="icon icon-search icon-4x"></i>
      </div>
      <p class="empty-title h5">Your search returned no results</p>
      <p class="empty-subtitle" *ngIf="conceptTypeEditable">Click the button below to create a new {{ conceptType.name }}</p>
      <div class="empty-action" *ngIf="conceptTypeEditable">
        <button class="btn btn-primary" (click)="createConcept()">Create {{ searchControl.value }}</button>
      </div>
    </div>
  </div>
</dd-modal>

<dd-modal #viewandedit>
  <h4 modal-header class="mb-0" *ngIf="selectedConceptEntity">
    {{ selectedConceptEntity.concept.name }}
  </h4>

  <!-- View For Edit Mode -->
  <div modal-body *ngIf="editable && selectedConceptEntity" [formGroup]="editGroup">
    <!-- Quantity Control -->
    <dd-dynamic-field [control]="quantityControl" [config]="quantityFieldConfig" *ngIf="quantityEnabled"> </dd-dynamic-field>

    <div class="my-2"></div>

    <!-- Notes Control -->
    <dd-dynamic-field [control]="contentControl" [config]="notesFieldConfig"> </dd-dynamic-field>
  </div>

  <!-- View For View Mode -->
  <div modal-body *ngIf="!editable && selectedConceptEntity">
    <!-- Quantity -->
    <h6 *ngIf="quantityEnabled">
      Quantity: <strong>{{ selectedConceptEntity.quantity || 1 }}</strong>
    </h6>

    <!-- Notes -->
    <dd-quill [value]="selectedConceptEntity.content" readOnly="true"></dd-quill>
  </div>

  <div modal-footer *ngIf="editable">
    <button class="btn btn-error mr-1" (click)="remove(selectedConceptEntity)">
      Remove
    </button>
    <button class="btn mr-1" (click)="viewandedit.close(null)">Cancel</button>
    <button class="btn btn-primary" (click)="save()">Save</button>
  </div>
</dd-modal>

<div class="container grid-xl">
  <!-- Title Controls -->
  <div class="columns" *ngIf="conceptType && entity">
    <div class="column col-auto">
      <button class="btn btn-sm" [routerLink]="['/campaigns', campaign.id, 'entities', entity.id]">
        <i class="icon icon-arrow-left"></i>
      </button>
    </div>

    <!-- Title -->
    <div class="column">
      <h5>{{ conceptType.pluralForm }} for {{ entity.name }}</h5>
    </div>

    <!-- Controls -->
    <div class="column col-auto" *ngIf="editable">
      <!-- Re-Order button -->
      <button class="btn btn-sm" (click)="toggleReorder()" *ngIf="editable">
        <i class="icon" [ngClass]="{ 'icon-resize-vert': !draggingEnabled, 'icon-check': draggingEnabled }"></i>
        <span class="hide-xs" *ngIf="!draggingEnabled"> Reorder {{ conceptType.pluralForm }}</span>
        <span class="hide-xs" *ngIf="draggingEnabled"> Save Order</span>
      </button>

      <!-- Add Button -->
      <button class="btn btn-sm ml-1" (click)="add()">
        <i class="icon icon-plus"></i><span class="hide-xs"> Add {{ conceptType.name }}</span>
      </button>
    </div>
  </div>

  <!-- Loading -->
  <div class="loading loading-lg" *ngIf="loading"></div>

  <!-- Empty state -->
  <div class="empty p-2" *ngIf="conceptEntities && conceptEntities.length === 0">
    <p class="empty-subtitle">No {{ conceptType.pluralForm }} here!</p>
  </div>

  <!-- Concepts -->
  <div cdkDropList (cdkDropListDropped)="conceptDropped($event)">
    <div
      *ngFor="let ce of conceptEntities; trackBy: trackConceptEntity"
      [cdkDragDisabled]="!this.editable || !this.draggingEnabled"
      cdkDrag
    >
      <div class="drag-placeholder" *cdkDragPlaceholder></div>

      <dd-concept-entity-manager-list-item
        [conceptEntity]="ce"
        [conceptType]="conceptType"
        [draggable]="this.editable && this.draggingEnabled"
        (selected)="select($event)"
      ></dd-concept-entity-manager-list-item>
    </div>
  </div>
</div>
