<div class="body-container off-canvas off-canvas-sidebar-show">
  <!-- off-screen toggle button -->
  <div
    id="sidebar-id"
    class="off-canvas-sidebar"
    [ngClass]="{ active: sidebarOpen }"
  >
    <!-- off-screen sidebar -->
    <dd-nav-sidebar></dd-nav-sidebar>
  </div>

  <a class="off-canvas-overlay" (click)="toggle()"></a>

  <div class="off-canvas-content content p-0">
    <div class="container grid-xl mt-2" *ngIf="loginLoading">
      <div class="loading loading-lg"></div>
    </div>

    <!-- off-screen content -->
    <dd-nav></dd-nav> <router-outlet></router-outlet>
  </div>
</div>
