<dd-note-editor></dd-note-editor>
<div class="body-container off-canvas off-canvas-sidebar-show">
  <!-- off-screen toggle button -->
  <div
    id="sidebar-id"
    class="off-canvas-sidebar"
    [ngClass]="{ active: sidebarOpen }"
  >
    <!-- off-screen sidebar -->
    <dd-nav-sidebar></dd-nav-sidebar>
  </div>

  <a class="off-canvas-overlay" (click)="toggle()"></a>

  <div id="app-content" class="off-canvas-content content d-flex flex-col p-0">
    <!-- off-screen content -->
    <dd-nav></dd-nav>
    <dd-breadcrumbs></dd-breadcrumbs>
    <router-outlet></router-outlet>
    <dd-footer></dd-footer>
  </div>
</div>
