<div class="loading" *ngIf="loading"></div>
<div *ngIf="invites">
  <!-- Empty State -->
  <div class="empty" *ngIf="invites.length === 0">
    <div class="empty-icon"><i class="icon icon-people icon-4x"></i></div>
    <p class="empty-title h5">There are no invites</p>
    <p class="empty-subtitle">Click the button below to create one</p>
    <div class="empty-action">
      <button class="btn btn-primary" [ngClass]="{ loading: creatingInvite }" (click)="createInvite()">
        Create invite
      </button>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <h4 class="mb-0">Invites</h4>
    </div>

    <div class="column col-auto">
      <button class="btn btn-sm" (click)="createInvite()" *ngIf="invites.length > 0" [ngClass]="{ loading: creatingInvite }">
        <i class="icon icon-plus"></i><span class="hide-sm"> Create Invite</span>
      </button>
    </div>
  </div>
  <!-- Invites List -->
  <table class="table" *ngIf="invites.length > 0">
    <thead>
      <tr>
        <th>Link</th>
        <th>Name</th>
        <th>Status</th>
        <th>User</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of invites">
        <td><a [href]="getInviteLink(i.id)">Link</a></td>
        <td>{{ i.name }}</td>
        <td [ngSwitch]="i.status">
          <span *ngSwitchCase="0">Pending</span>
          <span *ngSwitchCase="1">Revoked</span>
          <span *ngSwitchCase="2">Accepted</span>
          <span *ngSwitchCase="3">Declined</span>
        </td>
        <td>
          <div [ddUser]="i.user"></div>
          <span *ngIf="!i.user">N/A</span>
        </td>
        <td>
          <button class="btn btn-link btn-sm" *ngIf="i.status === 0" (click)="revokeInvite(i)">
            <i class="icon icon-cross"></i>Revoke
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
