<div class="container grid-xl">
  <div class="columns hoverable p-1">
    <!-- Spell Image -->
    <div class="column col-auto">
      <img
        *ngIf="spell.imageId"
        class="img-responsive s-rounded"
        src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{
          spell.imageId
        }}"
      />
      <img
        *ngIf="!spell.imageId"
        class="img-responsive s-rounded"
        src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/spell-default"
      />
    </div>

    <!-- Name / Basic Info -->
    <div class="column d-flex flex-col">
      <!-- Upper Info -->
      <div class="columns">
        <!-- Name -->
        <div class="column col-auto">
          <h5 class="mb-0">
            {{ spell.name }}
            <span class="text-gray" *ngIf="!spell.playerVisible">(Hidden)</span>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
