<div class="container grid-lg">
  <!-- Loading -->
  <div class="loading loading-lg" *ngIf="loading"></div>

  <dd-http-errors [error]="loadError" *ngIf="loadError"></dd-http-errors>

  <!-- Display -->
  <div *ngIf="quest">
    <div class="columns">
      <div class="column">
        <h3><i class="icon icon-flag" *ngIf="quest.accepted"></i> {{ quest.name }}</h3>
      </div>
      <div class="column col-auto col-ml-auto">
        <button class="btn btn-sm mr-2" (click)="addNote()"><i class="icon icon-link"></i> <span class="hide-sm"> Add Note</span></button>
        <button class="btn btn-sm" *ngIf="editable" (click)="edit()">
          <i class="icon icon-edit"></i>
          <span class="hide-sm"> Edit</span>
        </button>
      </div>
    </div>

    <dd-quill readOnly="true" [value]="quest.content"></dd-quill>

    <!-- Notes -->
    <dd-note-list [notes]="notes"></dd-note-list>
  </div>
</div>
