<div class="container grid-xl">
  <!-- Loading -->
  <div class="loading loading-lg" *ngIf="loading"></div>

  <!-- Display -->
  <div *ngIf="quest">
    <div class="columns">
      <div class="column">
        <h3>{{ quest.name }}</h3>
      </div>
      <div class="column col-auto col-ml-auto">
        <button class="btn btn-sm mr-2" (click)="addNote()">Add Note</button>
        <button class="btn btn-sm" *ngIf="editable" (click)="edit()">
          Edit
        </button>
      </div>
    </div>

    <markdown [data]="quest.description"></markdown>

    <!-- Notes -->
    <dd-note-list [notes]="notes"></dd-note-list>
  </div>
</div>
