<dd-modal #invites size="large" *ngIf="editable">
  <div modal-header><h4>Manage Invites</h4></div>
  <div modal-body *ngIf="invites.isOpen">
    <dd-invite-manager></dd-invite-manager>
  </div>
</dd-modal>

<div class="container grid-xl" *ngIf="campaign">
  <!-- Header -->
  <div class="columns">
    <div class="column col-9 col-lg-8 col-md-12 hide-md">
      <h1>{{ campaign.name }}</h1>
    </div>
    <div class="column col-6 col-md-12 show-md">
      <h3>{{ campaign.name }}</h3>
    </div>
    <div class="column col-auto col-ml-auto hide-md">
      <div class="dropdown dropdown-right">
        <button class="btn btn-link dropdown-toggle">
          Menu <i class="icon icon-caret"></i>
        </button>

        <ul class="menu">
          <li class="menu-item" *ngFor="let ep of entityPresets">
            <a
              [routerLink]="[
                '/campaigns',
                campaign.id,
                'entities',
                ep.id,
                'create'
              ]"
              >Create {{ ep.name }}</a
            >
          </li>
          <li class="menu-item" *ngIf="editable">
            <a [routerLink]="['/campaigns', campaign.id, 'settings']"
              >Settings</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="columns">
    <!-- Description -->
    <div class="column col-9 col-xl-8 col-md-12">
      <dd-quill readOnly="true" [value]="campaign.content"></dd-quill>
    </div>

    <!-- Sidebar -->
    <div class="column col-3 col-md-12 col-xl-4 col-ml-auto">
      <!-- Members Listing -->
      <div class="card">
        <div class="card-header">
          <div class="columns">
            <div class="column"><h5>Members</h5></div>
            <div class="column col-auto col-ml-auto" *ngIf="editable">
              <button class="btn btn-sm" (click)="invites.open()">
                <i class="icon icon-plus"></i>
                <span class="hide-sm"> Invite Members</span>
              </button>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div
            class="tile tile-centered mb-2"
            *ngFor="let u of campaign.members"
          >
            <div class="tile-icon">
              <figure class="avatar"><img [src]="u.user.pictureURL" /></figure>
            </div>
            <div class="tile-content">
              <div class="tile-title">{{ u.user.username }}</div>
              <div class="d-flex">
                <span
                  class="chip hoverable-chip"
                  (click)="selectEntity(e)"
                  *ngFor="let e of userEntities(u.user.id)"
                >
                  <img
                    src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{
                      e.imageId
                    }}"
                    class="avatar avatar-sm"
                  />
                  {{ e.name }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Quests -->
      <div class="card mt-2">
        <div class="card-header">
          <div class="columns">
            <div class="column"><h5>Active Quests</h5></div>
            <div class="column col-auto col-ml-auto" *ngIf="editable">
              <button class="btn btn-sm" (click)="manageQuests()">
                <span class="hide-sm">Manage </span>
                <i class="icon icon-menu"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="card-body"><dd-quest-quick-view></dd-quest-quick-view></div>
      </div>

      <!-- Quick Links -->
      <div class="card mt-2 p-2">
        <button class="btn mb-2" (click)="viewItems()">Items</button>
        <button class="btn" (click)="viewSpells()">Spells</button>
      </div>

      <div class="mt-2">
        <dd-quick-dice></dd-quick-dice>
      </div>
    </div>
  </div>
</div>
