<div class="container grid-xl">
  <div class="columns" *ngIf="!hideHeader">
    <div class="column"><h3>Campaigns</h3></div>
    <div class="column col-auto col-ml-auto">
      <button class="btn btn-sm" (click)="createCampaign()">
        <i class="icon icon-plus"></i><span class="hide-sm"> New Campaign</span>
      </button>
    </div>
  </div>
  <div class="loading loading-lg" *ngIf="loading"></div>

  <!-- Campaign Empty State -->
  <div class="empty" *ngIf="campaigns && campaigns.length === 0">
    <div class="empty-icon"><i class="icon icon-search icon-4x"></i></div>
    <p class="empty-title h5">There are no campaigns here</p>
    <p class="empty-subtitle">
      Click the button to create your own, or ask your DM for an invite
    </p>
    <div class="empty-action">
      <button class="btn btn-primary" (click)="createCampaign()">
        Create Campaign
      </button>
    </div>
  </div>

  <!-- Display Campaings -->
  <div *ngFor="let c of campaigns">
    <div class="card hoverable p-2 mb-2" (click)="selectCampaign(c)">
      <div class="columns">
        <div class="column col-auto" *ngIf="c.imageId">
          <img class="img-responsive s-rounded" src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{ c.imageId }}" />
        </div>
        <div class="column">
          <div class="columns">
            <div class="column">
              <h4 class="mb-1">{{ c.name }}</h4>
              <div [ddUser]="c.user"></div>
            </div>
            <div class="column col-md-12 hide-md col-auto">
              <span class="text-gray text-italic">{{ c.members.length }} Member{{ c.members.length === 1 ? '' : 's' }}</span>
            </div>
            <div class="column col-md-12 show-md">
              <span class="text-gray text-italic"> {{ c.members.length }} Member{{ c.members.length === 1 ? '' : 's' }} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
