<div class="container grid-xl">
  <div class="columns">
    <div class="column"><h3>Campaigns</h3></div>
    <div class="column col-auto col-ml-auto">
      <button
        class="btn btn-sm"
        (click)="createCampaign()"
        [ngClass]="{ loading: creating }"
      >
        <i class="icon icon-plus"></i> Create Campaign
      </button>
    </div>
  </div>
  <div class="loading loading-lg" *ngIf="loading"></div>

  <!-- Display Campaings -->
  <div *ngFor="let c of campaigns">
    <div class="card hoverable p-2 mb-2" (click)="selectCampaign(c)">
      <div class="columns">
        <div class="column col-auto" *ngIf="c.imageId">
          <figure class="avatar avatar-lg">
            <img
              src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{
                c.imageId
              }}.png"
            />
          </figure>
        </div>
        <div class="column">
          <div class="columns">
            <div class="column">
              <h4 class="mb-1">{{ c.name }}</h4>
            </div>
            <div class="column col-auto col-ml-auto">
              <span class="text-gray text-italic"> Example Text </span>
            </div>
          </div>
          <span class="text-gray">{{ c.description | truncate: 150 }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
