<div>
  <div class="loading" *ngIf="loading"></div>

  <!-- Notifications -->
  <div [ngClass]="{ 'big-space': notifications && notifications.length > 0 }" *ngIf="notifications">
    <button class="btn btn-sm mb-2" (click)="clearAll()"><i class="icon icon-delete"></i><span class="hide-sm"> Clear All</span></button>

    <!-- Empty -->
    <div class="empty" *ngIf="notifications.length === 0">
      <div class="empty-icon"><i class="icon icon-flag icon-4x"></i></div>
      <p class="empty-title h5">You have no new notifications</p>
      <p class="empty-subtitle">Don't worry, they'll show up one day :)</p>
    </div>

    <!-- Notification List -->
    <div class="card p-2 mb-2" *ngFor="let n of notifications">
      <div class="columns col-gapless">
        <!-- Clear Button -->
        <div class="column col-auto">
          <button class="btn btn-sm btn-link" aria-label="Close" (click)="clearNotification(n)">
            <i class="icon icon-cross"></i>
          </button>
        </div>

        <!-- Message -->
        <div class="column">
          {{ n.message }}
        </div>

        <!-- Controls Column -->
        <div class="column col-auto">
          <div class="dropdown dropdown-right">
            <button class="btn btn-sm dropdown-toggle" tabindex="0">
              <i class="icon icon-menu"></i>
            </button>
            <ul class="menu">
              <li class="menu-item" *ngIf="n.campaign !== null && n.campaign !== undefined" (click)="viewCampaign(n)">
                <div>{{ n.campaign.name }} <i class="icon icon-arrow-right"></i></div>
              </li>

              <li class="menu-item" *ngIf="n.mapId !== null && n.mapId !== undefined" (click)="viewMap(n)">
                <div>View Map <i class="icon icon-arrow-right"></i></div>
              </li>

              <li class="menu-item" *ngIf="n.questId !== null && n.questId !== undefined" (click)="viewQuest(n)">
                <div>View Quest <i class="icon icon-arrow-right"></i></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
