<div>
  <div class="loading" *ngIf="loading"></div>

  <!-- Notifications -->
  <div *ngIf="notifications">
    <button class="btn btn-sm mb-2" (click)="clearAll()"><i class="icon icon-delete"></i><span class="hide-sm"> Clear All</span></button>

    <!-- Empty -->
    <div class="empty" *ngIf="notifications.length === 0">
      <div class="empty-icon"><i class="icon icon-flag icon-4x"></i></div>
      <p class="empty-title h5">You have no new notifications</p>
      <p class="empty-subtitle">Don't worry, they'll show up one day :)</p>
    </div>

    <!-- Notification List -->
    <div class="card p-2 mb-2" *ngFor="let n of notifications">
      <div class="columns col-gapless">
        <!-- Clear Button -->
        <div class="column col-auto">
          <button class="btn btn-sm btn-link" aria-label="Close" (click)="clearNotification(n)">
            <i class="icon icon-cross"></i>
          </button>
        </div>

        <!-- Message -->
        <div class="column d-flex align-items-center col-8 col-sm-11">
          {{ n.message }}
        </div>

        <!-- Controls Column -->
        <div class="column col-sm-12 col-md-auto col-lg-auto col-xl-auto col-auto col-ml-auto">
          <!-- Campaign Related Notification Things -->
          <div *ngIf="n.campaign !== null && n.campaign !== undefined">
            <button class="btn btn-sm btn-primary" (click)="viewCampaign(n)">
              {{ n.campaign.name }} <i class="icon icon-arrow-right"></i>
            </button>
          </div>

          <!-- Map related notifications -->
          <div *ngIf="n.mapId !== null && n.mapId !== undefined">
            <button class="btn btn-sm btn-primary" (click)="viewMap(n)">View Map <i class="icon icon-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
