<dd-confirmation-modal #confirmmodal></dd-confirmation-modal>
<div class="container grid-xl">
  <div class="loading loading-lg" *ngIf="loading"></div>

  <div class="columns col-oneline" *ngIf="!loading || !editing">
    <div class="column col-ml-auto col-auto">
      <button
        class="btn btn-error mr-2"
        [ngClass]="{ loading: deleting }"
        [disabled]="saving"
        *ngIf="editing"
        (click)="delete()"
      >
        Delete
      </button>
      <button
        class="btn"
        [disabled]="formGroup.invalid"
        (click)="save()"
        [ngClass]="{ loading: saving }"
      >
        Save
      </button>
    </div>
  </div>
  <hr />
  <dd-item-form [formGroup]="formGroup"></dd-item-form>
</div>
