<div class="loading loading-lg" *ngIf="loading"></div>

<dd-entity-attribute-editor-modal #attributemodal></dd-entity-attribute-editor-modal>

<!-- Background container -->
<div class="player-bg d-flex" *ngIf="entity" [style.background-image]="backgroundCSS(entity.imageId)">
  <div id="head-container">
    <!-- Top row -->
    <div class="container grid-xl mb-auto">
      <div class="columns text-gray">
        <div class="column" *ngIf="saving">Saving...</div>
      </div>
    </div>

    <!-- Bottom Row -->
    <div class="container grid-xl">
      <div class="columns text-light mx-0">
        <div class="column text-light mb-1 d-flex flex-col justify-end">
          <div>
            <h3 class="mb-0 text-bold">
              {{ entity.name }}
              <a
                class="text-light"
                *ngIf="editable"
                [routerLink]="['/campaigns', campaign.id, 'entities', entity.preset.id, entity.id, 'edit']"
                ><i class="icon icon-edit"></i
              ></a>
            </h3>

            <div class="columns col-gapless">
              <!-- Username -->
              <div class="column col-auto mr-1" *ngIf="user">
                <dd-user-view-nano [user]="user"></dd-user-view-nano>
              </div>

              <div class="column text-italic no-select">({{ entity.preset.name }})</div>
            </div>
          </div>
        </div>
        <div class="column col-auto d-flex justify-end align-items-end col-ml-auto" style="line-height: 1.2">
          <div class="mb-1">
            <!-- Display current entity level -->
            <div class="text-right" *ngIf="preset.isXPEnabled">
              <span [ngClass]="{ 'c-hand': editable }" (click)="editXP()">
                <span class="h5 no-select mb-0">LV. </span>
                <span class="h3 text-bold mb-0">{{ level }}</span>
              </span>
            </div>

            <!-- Additional XP Things -->
            <div class="text-right tooltip" data-tooltip="XP / Next Level" *ngIf="preset.isXPEnabled">
              <span>{{ entity.xp }} / {{ xpToNextLevel }}</span>
            </div>

            <!-- Display current entity location (if any) -->
            <div class="text-italic no-select c-hand" *ngIf="entity.mapId !== null" (click)="openLocationOnMap()">
              Location <i class="icon icon-location"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container grid-xl" *ngIf="entity">
  <!-- Major attributes -->
  <dd-attribute-row-view
    *ngIf="majorAttributes.length > 0"
    [fields]="majorAttributes"
    [modifiers]="modifiers"
    [editable]="editable"
    (edit)="editAttribute($event)"
  ></dd-attribute-row-view>

  <div class="divider" *ngIf="majorAttributes.length > 0"></div>

  <!-- Normal Attributes -->
  <dd-attribute-row-view
    *ngIf="normalAttributes.length > 0"
    [fields]="normalAttributes"
    [editable]="editable"
    [modifiers]="modifiers"
    (edit)="editAttribute($event)"
    mode="normal"
  ></dd-attribute-row-view>
  <div class="divider" *ngIf="normalAttributes.length > 0"></div>

  <!-- Health/Currency -->
  <div class="columns">
    <!-- Health -->
    <div
      class="column"
      [ngClass]="{
        'col-9 col-md-7 col-sm-12': preset.isCurrencyEnabled,
        'col-12 mt-2': !preset.isCurrencyEnabled
      }"
      *ngIf="preset.isHealthEnabled"
    >
      <div class="h-100">
        <dd-health-display
          [editable]="editable"
          [preset]="entity.preset.health"
          [health]="entity.health"
          (healthChange)="onHPEdit($event)"
        ></dd-health-display>
      </div>
    </div>

    <!-- Currency -->
    <!-- Currency Desktop -->
    <div class="column col-3 col-md-5 hide-sm" *ngIf="preset.isCurrencyEnabled">
      <div class="card h-100 p-1 currency-box text-center" (click)="editCurrency()" [ngClass]="{ 'c-hand': editable }">
        <h5 class="mb-0">
          <dd-currency-view [currency]="entity.currency"></dd-currency-view>
        </h5>
      </div>
    </div>

    <!-- Currency Mobile -->
    <div class="column col-12 show-sm mt-2" *ngIf="preset.isCurrencyEnabled">
      <div class="card p-1 currency-box text-center" (click)="editCurrency()" [ngClass]="{ 'c-hand': editable }">
        <h5 class="mb-0">
          <dd-currency-view [currency]="entity.currency"></dd-currency-view>
        </h5>
      </div>
    </div>
  </div>

  <div class="divider" *ngIf="preset.isCurrencyEnabled"></div>

  <!-- Concept Managers -->
  <div class="columns">
    <div class="column col-6 col-sm-12" *ngFor="let ct of conceptTypeList">
      <button class="btn btn-sm" (click)="openConceptEntities(ct.id)"><i class="icon icon-arrow-right"></i> {{ ct.pluralForm }}</button>
      <dd-concept-entity-manager [conceptType]="ct" [entity]="entity"></dd-concept-entity-manager>
    </div>
  </div>

  <div class="columns">
    <!-- Image and description -->
    <div class="column col-8 col-md-6 col-sm-12 hide-sm">
      <div class="divider text-center" [attr.data-content]="'About ' + entity.name"></div>
      <dd-quill readOnly="true" [value]="entity.content"></dd-quill>
      <img
        class="img-responsive s-rounded mt-2"
        src="https://res.cloudinary.com/dqhk8k6iv/image/upload/w_500,q_auto:good,f_auto/{{ entity.imageId }}"
      />

      <!-- Big description fields -->
      <div class="divider" *ngIf="bigTextAttributes.length > 0"></div>

      <div *ngFor="let bta of bigTextAttributes; trackBy: trackAttribute">
        <h3>{{ bta.field.name }}</h3>
        <dd-quill readOnly="true" [value]="bta.field.value"></dd-quill>
      </div>
    </div>

    <!-- Minor Attributes -->
    <div class="column col-4 col-md-6 col-sm-12 col-ml-auto" *ngIf="minorAttributes.length > 0">
      <dd-attribute-table-view
        *ngIf="minorAttributes.length > 0"
        [fields]="minorAttributes"
        [editable]="editable"
        (edit)="editAttribute($event)"
      ></dd-attribute-table-view>
    </div>

    <!-- Image and description lower -->
    <div class="column col-12 show-sm mt-2">
      <div class="divider text-center" [attr.data-content]="'About ' + entity.name"></div>
      <dd-quill readOnly="true" [value]="entity.content"></dd-quill>
      <img
        class="img-responsive s-rounded"
        src="https://res.cloudinary.com/dqhk8k6iv/image/upload/w_500,q_auto:good,f_auto/{{ entity.imageId }}"
      />

      <!-- Big description fields -->
      <div class="divider" *ngIf="bigTextAttributes.length > 0"></div>

      <div *ngFor="let bta of bigTextAttributes; trackBy: trackAttribute">
        <h3>{{ bta.field.name }}</h3>
        <dd-quill readOnly="true" [value]="bta.field.value"></dd-quill>
      </div>
    </div>
  </div>
</div>
