@import '../../../variables.scss';

.player-bg {
  background-color: black;

  min-height: 30vh;

  margin-top: -$unit-2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#head-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.currency-box {
  background-color: $warning-color;
  background-image: url('/assets/hp-pattern.png');
  background-repeat: repeat;
  background-blend-mode: multiply;
}

.coin-icon {
  margin-bottom: -0.4rem;
}
