<div class="loading loading-lg" *ngIf="loading"></div>

<dd-entity-attribute-editor-modal
  #attributemodal
></dd-entity-attribute-editor-modal>

<!-- Background container -->
<div class="player-bg d-flex" *ngIf="entity">
  <div id="head-container">
    <!-- Top row -->
    <div class="container grid-xl mb-auto">
      <div class="columns text-gray">
        <div class="column" *ngIf="saving">Saving...</div>
      </div>
    </div>

    <!-- Bottom Row -->
    <div class="container grid-xl">
      <div class="columns text-light">
        <div class="column text-light mb-1">
          <h3
            class="mb-0 text-bold"
            [ngClass]="{ 'c-hand': editable }"
            (click)="editName()"
          >
            {{ entity.name }}
          </h3>
          <span class="text-italic">{{ entity.preset.name }}</span>
        </div>
        <div class="column d-flex justify-end align-items-end col-ml-auto">
          <span [ngClass]="{ 'c-hand': editable }" (click)="editXP()">
            <span class="h5">LV. </span>
            <span class="h3 text-bold">{{ level }}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container grid-xl">
  <!-- Major attributes -->
  <div class="columns" *ngIf="entity">
    <div
      class="column col-3 col-md-4 col-sm-6 col-mx-auto text-center"
      [ngClass]="{ 'c-hand': editable }"
      *ngFor="let a of majorAttributes"
      (click)="editAttribute(a)"
    >
      <div class="h4">
        <figure class="avatar avatar-sm" *ngIf="a.pattr && a.pattr.imageId">
          <img
            src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{
              a.pattr.imageId
            }}.png"
          />
        </figure>
        {{ a.attr.name }}
      </div>
      <div class="h3 text-bold">{{ a.attr.data }}</div>
    </div>
  </div>
</div>
