<div class="loading loading-lg" *ngIf="loading"></div>

<dd-entity-attribute-editor-modal
  #attributemodal
></dd-entity-attribute-editor-modal>

<!-- Background container -->
<div
  class="player-bg d-flex"
  *ngIf="entity"
  [style.background-image]="backgroundCSS(entity.imageId)"
>
  <div id="head-container">
    <!-- Top row -->
    <div class="container grid-xl mb-auto">
      <div class="columns text-gray">
        <div class="column" *ngIf="saving">Saving...</div>
      </div>
    </div>

    <!-- Bottom Row -->
    <div class="container grid-xl">
      <div class="columns text-light">
        <div class="column text-light mb-1">
          <h3
            class="mb-0 text-bold"
            [ngClass]="{ 'c-hand': editable }"
            (click)="editName()"
          >
            {{ entity.name }}
            <a class="text-light" *ngIf="editable" [routerLink]="['edit']"
              ><i class="icon icon-edit"></i
            ></a>
          </h3>
          <span class="text-italic no-select">{{ entity.preset.name }}</span>
        </div>
        <div
          class="column col-auto d-flex justify-end align-items-end col-ml-auto"
        >
          <span [ngClass]="{ 'c-hand': editable }" (click)="editXP()">
            <span class="h5 no-select">LV. </span>
            <span class="h3 text-bold">{{ level }}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container grid-xl" *ngIf="entity">
  <!-- Major attributes -->
  <div class="columns" *ngIf="majorAttributes.length > 0">
    <div
      class="column col-2 col-md-3 col-sm-5 col-mx-auto text-center"
      [ngClass]="{ 'c-hand': editable }"
      *ngFor="let a of majorAttributes"
      (click)="editAttribute(a)"
    >
      <div class="h5 no-select">
        <figure class="avatar avatar-sm" *ngIf="a.pattr && a.pattr.imageId">
          <img
            src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{
              a.pattr.imageId
            }}"
          />
        </figure>
        {{ a.attr.name }}
      </div>
      <div class="h4 text-bold">{{ a.attr.data }}</div>
    </div>
  </div>

  <div class="divider" *ngIf="majorAttributes.length > 0"></div>

  <!-- Normal Attributes -->
  <div class="columns" *ngIf="normalAttributes.length > 0">
    <div
      class="column col-1 col-md-2 col-sm-4 col-mx-auto text-center"
      [ngClass]="{ 'c-hand': editable }"
      *ngFor="let a of normalAttributes"
      (click)="editAttribute(a)"
    >
      <div class="h6 no-select">
        <figure class="avatar avatar-xs" *ngIf="a.pattr && a.pattr.imageId">
          <img
            src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{
              a.pattr.imageId
            }}"
          />
        </figure>
        {{ a.attr.name }}
      </div>
      <div class="h5">{{ a.attr.data }}</div>
    </div>
  </div>
  <div class="divider" *ngIf="normalAttributes.length > 0"></div>

  <!-- Inventory Management -->
  <dd-inventory-manager
    class="mt-2"
    [entityId]="entity.id"
    *ngIf="entity"
  ></dd-inventory-manager>

  <div class="columns">
    <!-- Image and description -->
    <div class="column col-8 col-md-6 col-sm-12 hide-sm">
      <div
        class="divider text-center"
        [attr.data-content]="'About ' + entity.name"
      ></div>
      <markdown [data]="entity.description"></markdown>
      <img
        class="img-responsive s-rounded"
        src="https://res.cloudinary.com/dqhk8k6iv/image/upload/w_500,q_auto:good,f_auto/{{
          entity.imageId
        }}"
      />
    </div>

    <!-- Sidebar -->
    <div
      class="column col-4 col-md-6 col-sm-12 col-ml-auto"
      *ngIf="minorAttributes.length > 0"
    >
      <div class="table table-striped" [ngClass]="{ 'table-hover': editable }">
        <thead>
          <tr>
            <th class="w-100">Minor Attributes</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            [ngClass]="{ 'c-hand': editable }"
            *ngFor="let attr of minorAttributes"
            (click)="editAttribute(attr)"
          >
            <td class="no-select">
              <figure
                class="avatar avatar-xs"
                *ngIf="attr.pattr && attr.pattr.imageId"
              >
                <img
                  src="https://res.cloudinary.com/dqhk8k6iv/image/upload/t_thumb/{{
                    attr.pattr.imageId
                  }}"
                />
              </figure>
              {{ attr.attr.name }}
            </td>
            <td class="text-bold">{{ attr.attr.data }}</td>
          </tr>
        </tbody>
      </div>
    </div>

    <!-- Image and description lower -->
    <div class="column col-12 show-sm mt-2">
      <div
        class="divider text-center"
        [attr.data-content]="'About ' + entity.name"
      ></div>
      <markdown [data]="entity.description"></markdown>
      <img
        class="img-responsive s-rounded"
        src="https://res.cloudinary.com/dqhk8k6iv/image/upload/w_500,q_auto:good,f_auto/{{
          entity.imageId
        }}"
      />
    </div>
  </div>
</div>
